<style>
    .alert{
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>
<form name="editForm" role="form"  novalidate ng-submit="vm.getDistribuicaoBilhetes()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="distribuicaoLabel" >Venda de Bilhetes</h4>

        <!--div ng-if="vm.bilhetes" class="alert alert-danger" role="alert">
            Sequência já foi distribuída para o estabelecimento <strong>{{vm.est}}</strong>.  Entre em contato com o suporte caso queira transferi-la.
        </div-->
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert> 
        <div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="field_concursoid">Concurso<span style="color:red">*</span></label>
                <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.lotevenda.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                ng-init="vm.lotevenda.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()">

                </select>
            </div>
        <!--/div>        
        <div class="row"> 
        <!--div class="col-md-3 form-group">
            <label for="field_loteid">Lote ID</label>
            <input type="number" class="form-control" name="loteid" id="field_loteid"
                 ng-model="vm.formlote.loteid" />
        </div>
        <div class="col-md-1 form-group">
            <b>ou</b>
        </div-->    
        <div class="col-md-4 form-group">
            <label for="field_bilheteInicial">Bilhete Inicial<span style="color:red">*</span></label>
                <input type="text" focus class="form-control" name="bilheteInicial" id="field_bilheteInicial"
                        ng-model="vm.lotevenda.bilheteInicial" ng-disabled="vm.formlote.loteid != null"
                        placeholder="00000000000-00" ng-blur="vm.changeBilhete()"
                        />
        </div>
        <div class="col-md-4 form-group">
            <label for="field_bilheteFinal">Bilhete Final<span style="color:red">*</span></label>
                <input type="text" focus class="form-control" name="bilheteFinal" id="field_bilheteFinal"
                        ng-model="vm.lotevenda.bilheteFinal" ng-disabled="vm.formlote.loteid != null"
                        placeholder="00000000000-00" ng-blur="vm.changeBilhete()"
                        />
        </div>        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="vm.loading || editForm.$invalid || vm.isSaving" class="btn btn-primary" >
                <span class="glyphicon glyphicon-save" ng-show="!vm.loading">&nbsp;<span data-translate="entity.action.save">Save</span></span>
                <span class="glyphicon glyphicon-refresh"  ng-show="vm.loading">&nbsp;Aguarde</span>
            </button>
        </div>        
    </div>
</form>
<script>
    $('.alert').alert("open")
</script>
