
<div>
    <h2><span data-translate="sorteioApp.estabelecimento.detail.title">Estabelecimento</span> {{vm.estabelecimento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt>Situação</span></dt>
        <dd>
            <span>{{vm.estabelecimento.ativo?'Ativo':'Inativo'}}</span>
        </dd>                
        <dt><span data-translate="sorteioApp.estabelecimento.nome">Nome</span></dt>
        <dd>
            <span>{{vm.estabelecimento.nome}}</span>
        </dd> 
        <dt><span data-translate="sorteioApp.estabelecimento.cpf">CPF</span></dt>
        <dd>
            <span>{{vm.estabelecimento.cpf}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.responsavel">Responsavel</span></dt>
        <dd>
            <span>{{vm.estabelecimento.responsavel}}</span>
        </dd> 
        <dt><span data-translate="sorteioApp.estabelecimento.telefone">Telefone</span></dt>
        <dd>
            <span>{{vm.estabelecimento.telefone}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.logradouro">Logradouro</span></dt>
        <dd>
            <span>{{vm.estabelecimento.logradouro}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.numero">Numero</span></dt>
        <dd>
            <span>{{vm.estabelecimento.numero}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.bairro">Bairro</span></dt>
        <dd>
            <span>{{vm.estabelecimento.bairro}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.cidade">Cidade</span></dt>
        <dd>
            <span>{{vm.estabelecimento.cidade}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.uf">UF</span></dt>
        <dd>
            <span>{{vm.estabelecimento.uf}}</span>
        </dd>        
        <dt><span data-translate="sorteioApp.estabelecimento.cep">Cep</span></dt>
        <dd>
            <span>{{vm.estabelecimento.cep}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.estabelecimento.pontoReferencia">Ponto Referencia</span></dt>
        <dd>
            <span>{{vm.estabelecimento.pontoReferencia}}</span>
        </dd>
        <dt><span >Padrão da Regional</span></dt>
        <dd>
            <span>{{vm.estabelecimento.padrao}}</span>
        </dd>        
    </dl>

    <button type="submit"
            ui-sref="estabelecimento"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="estabelecimento-detail.edit({id:vm.estabelecimento.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    <button type="submit"
            ui-sref="estabelecimento.delete({id:vm.estabelecimento.id})" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
    </button>

    <!--p/><p/>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-change="vm.changeconcurso()">

            </select>
        </div>
    </div>    
   <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Lote </th>
                <th >Tipo </th>
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th></th>                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['-concursoId', 'loteRegionalId', 'bilheteInicial']  track by lotebilhete.bilheteInicial"
                >

                <td >{{vm.filtro.concurso.label}}</td>
                <td>{{lotebilhete.loteRegionalId}}</td>
                <td>{{lotebilhete.tipo.label}}</td>
                <td>{{lotebilhete.bilheteInicial}}</td>
                <td >{{lotebilhete.bilheteFinal}}</td>
                <td >{{lotebilhete.quantidade}}</td>
            </tr>
            </tbody>
        </table>
    </div>    
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                 ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div-->         
</div>
