<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 data-translate="sorteioApp.estabelecimento.home.title">Estabelecimentos de Venda</h2>                
            </div>
            <div class="col-xs-4 no-padding-left" >
                <br>
                <button has-authority="PERM_CADASTRO_ESTABELECIMENTO" class="btn btn-primary pull-right" ui-sref="estabelecimento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sorteioApp.estabelecimento.home.createLabel">
                        Create new Estabelecimento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">  <h3 class="panel-title">Filtro</h3> </div>
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-6 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="field_nome"
                                ng-model="vm.filtro.nome" ng-maxlength=100  ng-minlength="3" />
                    </div> 
                </div>  
                <div class="col-md-3 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_telefone">Telefone</label>
                        <input type="text" class="form-control" name="telefone" id="field_telefone"
                                ng-model="vm.filtro.telefone" ng-maxlength=6  />
                    </div> 
                </div>  
                <div class="col-md-2 ">
                    <div class="form-group">
                        <label></label>
                        <div class="checkbox">
                           <label for="field_situacao"><input  type="checkbox" id="field_situacao"  name="situacao"
                           ng-model="vm.filtro.ativo"  >Somente Ativo</label>
                        </div>
    
                    </div>
                </div>                         
            </div>          
            <div class="row" >
                <div class="col-md-4 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_cidade">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="field_cidade"
                                ng-model="vm.filtro.cidade" ng-maxlength=30  ng-minlength="3" />
                    </div> 
                </div>  
                <div class="col-md-4 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_bairro">Bairro</label>
                        <input type="text" class="form-control" name="bairro" id="field_bairro"
                                ng-model="vm.filtro.bairro" ng-maxlength=30 ng-minlength="3"  />
                    </div> 
                </div>  
                <div class="col-md-1 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_uf">UF</label>
                        <input type="text" class="form-control" name="uf" id="field_uf"
                                ng-model="vm.filtro.uf" ng-maxlength=2  ng-minlength="2" />
                    </div> 
                </div>                        
            </div>                 
            <div class="row" >             
                <div class="col-md-5 "> 
                    <div class="form-group">
                        <label for="field_regional">Regional</label>
                        <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
                        ng-options="regional.id as regional.nome for regional in vm.regionais | orderBy: [nome]" 
                        ng-change="vm.changeregional()"  >
                            <option value=""></option>
                        </select>
                    </div> 
                </div>              
                <div class="col-md-4 ">         
                        <div class="form-group">
                            <label for="field_area">Área</label>
                            <select class="form-control" id="field_area" name="area" ng-model="vm.filtro.area"
                            ng-options="area.id as area.nome for area in vm.areasregional | orderBy: [nome]" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
    
                <div class="col-md-3 form-group">
                    <br>    
                    <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" title="Filtrar estabelecimentos" ng-click="vm.filtrar()">
                                    <span class="glyphicon glyphicon-search">Filtrar</span>
                                </button>                                                    
                            <button type="button" class="btn btn-default" title="Download planilha" ng-click="vm.saveCSV()">
                                    <span class="glyphicon glyphicon-download"></span>
                                    </button>                                     
                    </div>               
                    <button class="btn " title="Limpar formulário" ng-click="vm.limparFiltro()">
                            <span class="glyphicon glyphicon-ban-circle">Limpar</span>
                        </button>                    
                </div>    
            </div>    
        </div>
    </div>             
    <!--span >Filter</span> <input type="text" ng-model="filter" class="form-control"-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th ><span data-translate="global.field.id">ID</span> </th>
                    <th jh-sort-by="nome"><span data-translate="sorteioApp.estabelecimento.nome">Nome Fantasia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ><span data-translate="sorteioApp.estabelecimento.telefone">Telefone</span> </th>
                    <th jh-sort-by="regional.nome">Regional<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="areaRegional.nome">Área<span class="glyphicon glyphicon-sort"></span></th>                    
                    <th jh-sort-by="bairro">Bairro<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cidade">Cidade/UF<span class="glyphicon glyphicon-sort"></span></th>
                    <th >Padrão</th>                    
                    <th >Situação</th>                    
                    <th> </th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="estabelecimento in vm.estabelecimentos | filter:filter track by estabelecimento.id">
                    <td><a ui-sref="estabelecimento-detail({id:estabelecimento.id})">{{estabelecimento.id}}</a></td>
                    <td><a ui-sref="estabelecimento-detail({id:estabelecimento.id})">{{estabelecimento.nome}}</a></td>
                    <td>{{estabelecimento.telefone}}</td>
                    <td>{{estabelecimento.regional.nome}}</td>
                    <td>{{estabelecimento.areaRegional.nome}}</td> 
                    <td>{{estabelecimento.bairro}}</td>
                    <td>{{estabelecimento.cidade}}/{{estabelecimento.uf | uppercase}}</td>                    
                    <td>{{estabelecimento.padrao?'Padrão':'--'}}</td>
                    <td>{{estabelecimento.ativo?'Ativo':'Inativo'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--button type="submit" 
                                    ng-click="vm.transitonTo('estabelecimento-detail',{id:estabelecimento.id})" 
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button-->
                            <button has-authority="PERM_CADASTRO_ESTABELECIMENTO" type="submit"
                                    ng-click="vm.transitonTo('estabelecimento.edit',{id:estabelecimento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button has-authority="PERM_CADASTRO_ESTABELECIMENTO" type="submit"
                                    ng-click="vm.transitonTo('estabelecimento.delete',{id:estabelecimento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>                               
                            <button has-authority="PERM_DISTRIBUICAO_ESTABELECIMENTO" type="submit" has-any-authority="PERM_DISTRIBUICAO_ESTABELECIMENTO" 
                                    ng-click="vm.transitonTo('estabelecimento.venda',{id:estabelecimento.id})"
                                    class="btn btn-default btn-sm" ng-disabled="! estabelecimento.ativo">
                                <span class="glyphicon glyphicon glyphicon-cog"></span>
                                <span class="hidden-sm-down" >Distribui</span>
                            </button>                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>       
</div>
