
<form name="vm.editForm" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEstabelecimentoLabel" data-translate="sorteioApp.estabelecimento.home.createOrEditLabel">Create or edit a Estabelecimento</h4>
    </div>
    <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
    <input id="password" style="display:none" type="password" name="fakepasswordremembered">
    <div class="modal-body">
        <!--jhi-alert-error></jhi-alert-error-->
        <jhi-alert></jhi-alert>        
        <div class="form-group" ng-show="vm.estabelecimento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estabelecimento.id" readonly />
        </div>
        <div class="row"> 
            <div class="col-md-5 ">         
                <div class="form-group">
                    <label for="field_regional">Regional<span style="color:red">*</span></label>
                    <select class="form-control" id="field_regional" name="regional" ng-model="vm.estabelecimento.regional"
                    ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
                    ng-change="vm.changeregional()" required >
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-5 ">         
                    <div class="form-group">
                        <label for="field_area">Área</label>
                        <select class="form-control" id="field_area" name="area" ng-model="vm.estabelecimento.arearegional"
                        ng-options="area as area.nome for area in vm.areasregional track by area.id" >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
    
            <div class="col-md-2 ">         
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                        <label for="field_situacao"><input  type="checkbox" id="field_situacao" name="situacao"
                        ng-model="vm.estabelecimento.ativo" >Situação Ativa</label>
                    </div>
                        
                </div>
            </div>
    
        </div>
        <div class="row">             
            <div class="col-md-7 "> 
                <div class="form-group">
                    <label class="control-label" for="field_nome">Nome<span style="color:red">*</span></label>
                    <input type="text" class="form-control uppercase" name="nome" id="field_nome"
                            ng-model="vm.estabelecimento.nome" ng-maxlength=100 required />
                    <div ng-show="vm.editForm.nome.$dirty && vm.editForm.nome.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.nome.$error.required" >
                            O campo nome fantasia é obrigatório.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.nome.$error.minlength" >
                            O campo nome fantasia deve ter pelo menos 1 caracter.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.nome.$error.maxlength" >
                            O campo nome fantasia deve ter no máximo 100 caracteres.
                        </p>
                    </div>                                 
                </div>
            </div>           
            <div class="col-md-2" ng-hide="vm.comissaoProgressiva">
                <div class="form-group">
                    <label class="control-label" for="field_percentualrepasse">Comissão(%)<span style="color:red">*</span></label>
                    <input type="number" class="form-control" name="percentualRepasse" id="field_percentualrepasse"
                            ng-model="vm.estabelecimento.percentualRepasse" ng-required="{{!vm.comissaoProgressiva}}"
                            />
                </div>
            </div>
            <div class="col-md-3 ">         
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                       <label for="field_padrao"><input  type="checkbox" id="field_padrao" name="padrao"
                        ng-model="vm.estabelecimento.padrao" >Padrão Regional</label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label></label>
                <div class="checkbox">
                    <label for="field_online"><input  type="checkbox" id="field_online" name="online"
                        ng-model="vm.estabelecimento.online" >Online</label>
                </div>
            </div>           
        </div>    
        <div class="row"> 
            <div class="col-md-7 "> 
                <div class="form-group">
                    <label class="control-label" for="field_responsavel">Responsável<span style="color:red">*</span></label>
                    <input type="text" class="form-control uppercase" name="responsavel" id="field_responsavel"
                            ng-model="vm.estabelecimento.responsavel" ng-maxlength=100 required />
                    <div ng-show="vm.editForm.responsavel.$dirty && vm.editForm.responsavel.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.responsavel.$error.required" >
                            O campo nome do responsavel é obrigatório.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.responsavel.$error.minlength" >
                            O campo responsavel deve ter pelo menos 1 caracter.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.responsavel.$error.maxlength" >
                            O campo responsavel fantasia deve ter no máximo 100 caracteres.
                        </p>
                    </div>                                 
                </div>
            </div>                      
            <div class="col-md-5 ">               
                <div class="form-group">
                    <label class="control-label"  for="field_cpf">CPF<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                            ng-model="vm.estabelecimento.cpf" required />
                    <div ng-show="vm.editForm.cpf.$dirty && vm.editForm.cpf.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.required" >
                            O campo CPF é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.minlength" >
                            O campo CPF deve ter 11 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.maxlength" >
                            O campo CPF deve ter 11 caracteres.
                        </p>
                    </div>                                   
                </div>
             </div>    
        </div>    
        <div class="row">
                <div class="col-md-4 ">       
                    <div class="form-group">
                        <label class="control-label" for="field_telefone">Telefone<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="telefone" id="field_telefone"
                                ng-model="vm.estabelecimento.telefone" ng-minlength=6 ng-maxlength=16 required
                                />
                        <div ng-show="vm.editForm.telefone.$dirty && vm.editForm.telefone.$invalid">
                            <p class="help-block"
                                    ng-show="vm.editForm.telefone.$error.minlength" >
                                O campo telefone deve ter pelo menos 6 caracteres.
                            </p>
                            <p class="help-block"
                                    ng-show="vm.editForm.telefone.$error.maxlength" >
                                O campo telefone deve ter no máximo 16 caracteres.
                            </p>
                        </div>                               
                    </div>
                </div>             
                <div class="col-md-8">        
                    <div class="form-group">
                        <label class="control-label" data-translate="sorteioApp.estabelecimento.pontoReferencia" for="field_pontoReferencia">Ponto Referencia</label>
                        <input type="text" class="form-control" name="pontoReferencia" id="field_pontoReferencia"
                                ng-model="vm.estabelecimento.pontoReferencia"
                                />
                    </div>
                </div>
           </div>         
        <div class="row"> 
            <div class="col-md-10 ">                              
                <div class="form-group">
                    <label class="control-label" for="field_logradouro">Logradouro<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                            ng-model="vm.estabelecimento.logradouro" ng-minlength=3 ng-maxlength=128 required
                            />
                    <div ng-show="vm.editForm.logradouro.$dirty && vm.editForm.logradouro.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.logradouro.$error.minlength" >
                            O campo logradouro deve ter pelo menos 3 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.logradouro.$error.maxlength" >
                            O campo logradouro deve ter no máximo 128 caracteres.
                        </p>
                    </div>                              
                </div>
            </div>
            <div class="col-md-2 ">    
                <div class="form-group">
                    <label class="control-label" for="field_numero">Número<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                            ng-model="vm.estabelecimento.numero" ng-min=1 ng-max=100000 required
                            />
                    <div ng-show="vm.editForm.numero.$dirty && vm.editForm.numero.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.numero.$error.maxlength" >
                            O campo numero deve ter no máximo 8 caracteres.
                        </p>
                    </div>    
                </div>
            </div>
        </div>   
        <div class="row"> 
                <div class="col-md-4">     
                   <div class="form-group">
                       <label class="control-label" for="field_bairro">Bairro<span style="color:red">*</span></label>
                       <input type="text" class="form-control" name="bairro" id="field_bairro"
                               ng-model="vm.estabelecimento.bairro" required  ng-maxlength=32
                               />
                       <div ng-show="vm.editForm.bairro.$dirty && vm.editForm.bairro.$invalid">
                           <p class="help-block"
                                  ng-show="vm.editForm.bairro.$error.required" >
                               O campo bairro é obrigatório.
                           </p>   
                           <p class="help-block"
                                  ng-show="vm.editForm.bairro.$error.maxlength" >
                               O campo bairro deve ter no máximo 32 caracteres.
                           </p>
                       </div> 
                   </div>
               </div>    
               <div class="col-md-4">
                   <div class="form-group">
                       <label class="control-label" for="field_cidade">Cidade<span style="color:red">*</span></label>
                       <input type="text" class="form-control" name="cidade" id="field_cidade"
                               ng-model="vm.estabelecimento.cidade" required ng-maxlength=32
                               />
                       <div ng-show="vm.editForm.cidade.$dirty && vm.editForm.cidade.$invalid">
                           <p class="help-block"
                                  ng-show="vm.editForm.cidade.$error.required" >
                               O campo cidade é obrigatório.
                           </p>                        
                           <p class="help-block"
                                  ng-show="vm.editForm.cidade.$error.maxlength" >
                               O campo cidade deve ter no máximo 32 caracteres.
                           </p>
                       </div>      
                   </div>
               </div>
               <div class="col-md-1">
                   <div class="form-group">
                       <label class="control-label" for="field_uf">UF<span style="color:red">*</span></label>
                       <input type="text" class="form-control uppercase" name="uf" id="field_uf"
                               ng-model="vm.estabelecimento.uf" required ng-maxlength=2
                               />
                       <div ng-show="vm.editForm.uf.$dirty && vm.editForm.uf.$invalid">
                           <p class="help-block"
                                  ng-show="vm.editForm.uf.$error.required" >
                               O campo UF é obrigatório.
                           </p>                        
                           <p class="help-block"
                                  ng-show="vm.editForm.uf.$error.maxlength" >
                               O campo UF deve ter no máximo 2 caracteres.
                           </p>
                       </div>      
                   </div>
               </div>                    
               <div class="col-md-3">    
                    <div class="form-group">
                        <label class="control-label" for="field_cep">CEP<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="cep" id="field_cep"
                                ng-model="vm.estabelecimento.cep" ng-minlength=8 ng-maxlength=8 required
                                />
                        <div ng-show="vm.editForm.cep.$dirty && vm.editForm.cep.$invalid">
                            <p class="help-block"
                                   ng-show="vm.editForm.cep.$error.minlength" >
                                O campo cep deve ter 8 caracteres.
                            </p>
                            <p class="help-block"
                                   ng-show="vm.editForm.cep.$error.maxlength" >
                                O campo cep deve ter 8 caracteres.
                            </p>
                        </div>     
                    </div>
                </div>
    
            </div>         

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="vm.editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
