<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Distribuição Selos</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    Selecione inicialmente o concurso desejado, e então preencha os campos dos selos que deseja distribuir/devolver.
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="field_concurso">Concurso<span style="color:red">*</span></label>
                        <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.lote.concurso"
                        ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                        ng-init="vm.lote.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()">
        
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="field_numeroInicial">Número Inicial<span style="color:red">*</span></label>
                        <input type="text" name="numeroInicial" id="field_numeroInicial" 
                        focus class="form-control" placeholder="Número Inicial" aria-describedby="{{'numero-inicial-addon'}}"
                                ng-model="vm.lote.numeroInicio" ng-minlength=1 ng-maxlength=14 ng-change="vm.changenumero()"
                            >
                    </div>    
                    <div class="col-md-4">
                        <label for="field_numeroFinal">Número Final<span style="color:red">*</span></label>
                        <input type="text" name="numeroFim" id="field_numeroFinal" 
                                focus class="form-control" placeholder="Número Final" aria-describedby="{{'numero-final-addon'}}"
                                ng-model="vm.lote.numeroFim" ng-minlength=1 ng-maxlength=14 ng-change="vm.changenumero()"
                            >              
                    </div>
            </div>            
            <div class="row" >
                <div class="col-md-5 form-group">
                        <label for="field_regional">Regional<span style="color:red">*</span></label>
                        <select class="form-control" id="field_regional" name="regional" ng-model="vm.lote.regional"
                        ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
                        ng-change="vm.changeregional()" >
                            <option value="">Nenhuma Regional</option>
                        </select>
                    </div>              
                    <!--div class="col-md-5 form-group">
                            <label for="field_estabelecimento">Estabelecimento</label>
                            <select class="form-control" id="field_estabelecimento" name="estabelecimento" ng-model="vm.lote.estabelecimento"
                            ng-options="estabelecimento as estabelecimento.nome for estabelecimento in vm.estabelecimentos track by estabelecimento.id" 
                            ng-change="vm.changeestabelecimento()" >
                                <option value="">Nenhum Estabelecimento</option>
                            </select>
                        </div-->
                    <div class="col-md-2 form-group">
                        <label for="field_motivo">Operação<span style="color:red">*</span></label>
                        <select class="form-control" id="field_motiv" name="motivo" ng-model="vm.lote.operacao" >
                            <option value="I" selected >Entregar</option>
                            <option value="R">Devolver</option>
                        </select>
                    </div>                             
            </div>
            <div class="row">                                    
                <div class="col-md-12 form-group">
                    <br>
                    <!--button class="btn btn-primary"  ng-click="vm.limparForm()" >
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button-->            
                    <button class="btn btn-primary" ng-click="vm.distribuir()" >
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;<span >Distribuir</span>
                    </button>
                    <button class="btn pull-right" ng-click="vm.buscar()" >
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Buscar últimas distribuições desde concurso e regional</span>
                    </button>                    
                </div>    
            </div>

            <div class="table-responsive" ng-show='vm.logdistribuicao'>
                <br><br>
                <p>Últimas distribuições realiazadas neste concurso e regional</p>
                <table class="jh-table table table-striped">
                    <thead>
                    <tr >
                        <th>Concurso</th>
                        <th>Regional</td>
                        <!--th>Estab.</th-->
                        <th>Operação</th>
                        <th>Número Inicial</th>
                        <th>Número Final</th>    
                        <th>Usuario</th>
                        <th>Data</th>                                                                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(idx, dist) in vm.logdistribuicao | orderBy : ['-id']  track by dist.id"
                        >
                        <td>{{dist.concurso.label}}</td>
                        <td>{{dist.regional.nome}}</td>
                        <!--td >{{dist.estabelecimento.nome}}</td-->
                        <td>{{ dist.operacao=='I'?'Distribuição':'Devolução'}}</td>
                        <td>{{dist.numeroInicio}}</td>
                        <td >{{dist.numeroFim}}</td>
                        <td >{{dist.usuarioModificacao}}</td>
                        <td >{{dist.dataModificacao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>                                                                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>    
</div>
