<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Historico Movimentação de Selos</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="field_concurso">concurso</label>
                    <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
                    ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                    ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
                    </select>
                </div>               
                <div class="col-md-5 form-group">
                    <label for="field_regional">Regional</label>
                    <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
                    ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
                    ng-change="vm.changeregional()" >
                        <option value="">Nenhuma Regional</option>
                    </select>
                </div>
                <!--div class="col-md-5 form-group">
                    <label for="field_estabelecimento">Estabelecimento</label>
                    <select class="form-control" id="field_estabelecimento" name="estabelecimento" ng-model="vm.filtro.estabelecimento"
                    ng-options="estabelecimento as estabelecimento.nome for estabelecimento in vm.estabelecimentos track by estabelecimento.id" 
                    ng-change="vm.changeestabelecimento()" >
                        <option value="">Nenhum Estabelecimento</option>
                    </select>
                </div-->  
                <div class="col-md-2 form-group" >
                        <label >&nbsp;</label>
                    <button class="btn btn-primary pull-right form-control" ng-click="vm.loadAll()" >
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Buscar</span>
                    </button>                    
                </div>
            </div>  
            
            <div class="table-responsive" ng-show='vm.logdistribuicao'>
                <br><h3 class="panel-title"><b>Total de selos distribuidos {{vm.totalSelos}} </b></h3>
                <br>
                <table class="jh-table table table-striped">
                    <thead>
                    <tr >
                        <th>Concurso</th>
                        <th>Regional</td>
                        <!--th>Estab.</th-->
                        <th>Operação</th>
                        <th>Número Inicial</th>
                        <th>Número Final</th>    
                        <th>Usuario</th>
                        <th>Data</th> 
                        <th>Total</th>                                                                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(idx, dist) in vm.logdistribuicao | orderBy : ['-id']  track by dist.id"
                        >
                        <td>{{dist.concurso.label}}</td>
                        <td>{{dist.regional.nome}}</td>
                        <!--td >{{dist.estabelecimento.nome}}</td-->
                        <td>{{ dist.operacao=='I'?'Distribuição':'Devolução'}}</td>
                        <td>{{dist.numeroInicio}}</td>
                        <td >{{dist.numeroFim}}</td>
                        <td >{{dist.usuarioModificacao}}</td>
                        <td >{{dist.dataModificacao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>   
                        <td>{{(dist.numeroFim - dist.numeroInicio + 1) * (dist.operacao=='I'?1:-1)}}</td>                                                                
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>   
</div>
