<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Distribuição Bilhetes</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    Selecione inicialmente o concurso desejado, e então preencha os campos dos bilhete que deseja distribuir.
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="field_concurso">Concurso<span style="color:red">*</span></label>
                        <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.lote.concurso"
                        ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                        ng-init="vm.lote.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()">
        
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="field_bilheteInicial">Bilhete Inicial<span style="color:red">*</span></label>
                        <input type="text" name="bilheteInicial" id="field_bilheteInicial" 
                        tabindex="1" focus class="form-control" placeholder="00000000000-00" aria-describedby="{{'bilhete-inicial-addon'}}"
                                ng-model="vm.lote.bilheteInicial" ng-blur="vm.changeBilhete()"   
                            >
                    </div>    
                    <div class="col-md-4">
                        <label for="field_bilheteFinal">Bilhete Final<span style="color:red">*</span></label>
                        <input type="text" name="bilheteFinal" id="field_bilheteFinal" 
                        tabindex="2" focus  class="form-control" placeholder="00000000000-00" aria-describedby="{{'bilhete-final-addon'}}"
                                ng-model="vm.lote.bilheteFinal" ng-blur="vm.changeBilhete()" 
                            >              
                    </div>
            </div>            
            <div class="row" >
                <div class="col-md-5 form-group">
                        <label for="field_regional">Regional</label>
                        <select class="form-control" id="field_regional" name="regional" ng-model="vm.lote.regional"
                        ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
                        tabindex="3" focus ng-change="vm.changeregional()" >
                            <option value="">Nenhuma Regional</option>
                        </select>
                    </div>              
                    <div class="col-md-5 form-group">
                            <label for="field_estabelecimento">Estabelecimento</label>
                            <select class="form-control" id="field_estabelecimento" name="estabelecimento" ng-model="vm.lote.estabelecimento"
                            ng-options="estabelecimento as estabelecimento.nome for estabelecimento in vm.estabelecimentos track by estabelecimento.id" 
                            tabindex="4" ng-change="vm.changeestabelecimento()" >
                                <option value="">Nenhum Estabelecimento</option>
                            </select>
                        </div>
                    <div class="col-md-2 form-group">
                        <label for="field_motivo">Motivo<span style="color:red">*</span></label>
                        <select class="form-control" id="field_motiv" name="motivo" ng-model="vm.lote.motivoDistribuicao" 
                                tabindex="5" >
                            <option value="R">Dist. Regional</option>
                            <option value="E">Dist. Estabelecimento</option>
                            <option value="D">Devolução Faixa</option>
                            <option value="X">Redistribuição Faixa</option>
                            <option value="Y">Redistribuição Excedente</option>
                        </select>
                    </div>                             
            </div>
            <div class="row">                                    
                <div class="col-md-12 form-group">
                    <br>
                    <!--button class="btn btn-primary"  ng-click="vm.limparForm()" >
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button-->            
                    <button class="btn btn-primary" ng-click="vm.distribuir()" tabindex="6" >
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;<span >Distribuir</span>
                    </button>
                    <button class="btn pull-right" ng-click="vm.buscar()" >
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Buscar últimas distribuições desde concurso</span>
                    </button>                    
                </div>    
            </div>

            <div class="table-responsive" ng-show='vm.logdistribuicao'>
                <br><br>
                <p>Últimas distribuições realiazadas neste concurso</p>
                <table class="jh-table table table-striped">
                    <thead>
                    <tr >
                        <th >Concurso </th>
                        <th >Número Inicial </th>
                        <th >Número Final</th>
                        <th >Regional Antiga </td>
                        <th> Estab. Antigo</th>                            
                        <th> Regional Nova</th>
                        <th> Estab. Novo</th>
                        <th> Usuario</th>
                        <th> Data</th>                                                                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(idx, dist) in vm.logdistribuicao | orderBy : ['-id']  track by dist.id"
                        >
                        <td>{{dist.concurso.label}}</td>
                        <td>{{dist.bilheteInicio}}</td>
                        <td >{{dist.bilheteFim}}</td>
                        <td>{{dist.antigaRegional}}</td>
                        <td >{{dist.antigoEstabelecimento}}</td>
                        <td >{{dist.novaRegional}}</td>                        
                        <td >{{dist.novoEstabelecimento}}</td>                        
                        <td >{{dist.usuarioModificacao}}</td>
                        <td >{{dist.dataModificacao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>                                                                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>    
</div>
