<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Historico Distribuição Bilhetes</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="field_concurso">concurso</label>
                    <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
                    ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                    ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
                    </select>
                </div>
                <div class="col-md-7 form-group">
                    <label for="field_regional">Regional</label>
                    <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
                    ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" >
                        <option value="">Todas Regionais</option>
                    </select>
                </div>
                <div class="col-md-2 form-group" >
                        <label >&nbsp;</label>
                    <button class="btn btn-primary pull-right form-control" ng-click="vm.loadAll()" >
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Buscar</span>
                    </button>                    
                </div>
            </div>
            
            <div class="table-responsive" ng-show='vm.logdistribuicao'>
                <br><br>
                <table class="jh-table table table-striped">
                    <thead>
                    <tr >
                        <th >Concurso </th>
                        <th >Número Inicial </th>
                        <th >Número Final</th>
                        <th >Regional Antiga </td>
                        <th> Estab. Antigo</th>                            
                        <th> Regional Nova</th>
                        <th> Estab. Novo</th>
                        <th> Usuario</th>
                        <th> Data</th>                                                                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(idx, dist) in vm.logdistribuicao | orderBy : ['-id']  track by dist.id"
                        >
                        <td>{{dist.concurso.label}}</td>
                        <td>{{dist.bilheteInicio}}</td>
                        <td >{{dist.bilheteFim}}</td>
                        <td>{{dist.antigaRegional}}</td>
                        <td >{{dist.antigoEstabelecimento}}</td>
                        <td >{{dist.novaRegional}}</td>                        
                        <td >{{dist.novoEstabelecimento}}</td>                        
                        <td >{{dist.usuarioModificacao}}</td>
                        <td >{{dist.dataModificacao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>                                                                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>    
    </div>   
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>      
</div>
