<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 >Comissões</h2>
            </div>
            <div class="col-xs-4 no-padding-left" >
                <br>
                <div class="btn-group flex-btn-group-container" ng-hide="vm.onedit">
                    <button class="btn btn-primary pull-right" ng-click="vm.startEdit()" >
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span >
                                Editar
                            </span>
                        </button> 
                    <button class="btn btn-default pull-right" ng-click="vm.reset()" >
                        <span class="glyphicon glyphicon-refresh"></span>
                        <span >
                            Atualizar Lista
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="panel panel-primary" ng-show="vm.onedit">
        <div class="panel-heading">
                <h3 class="panel-title">Edição das comissões das regionais selecionadas</h3>
        </div>
        <div class="panel-body">
            <div class="row">    
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label class="control-label" for="field_1faixacomissaoreg">1a Faixa Reg.<span style="color:red">*</span></label>
                        <input type="number"  step="0.01" class="form-control" name="1faixacomissaoreg" id="field_1faixacomissaoreg"
                                ng-model="vm.comissaoregionaledicao.valorComissaoRegionalFaixa1" required
                                />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label class="control-label" for="field_2faixacomissaoreg">2a Faixa Reg.<span style="color:red">*</span></label>
                        <input type="number"  step="0.01" class="form-control" name="2faixacomissaoreg" id="field_2faixacomissaoreg"
                                ng-model="vm.comissaoregionaledicao.valorComissaoRegionalFaixa2" required
                                />
                    </div>
                </div>
            </div> 
            <div class="row">    
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label class="control-label" for="field_1faixacomissaoest">1a Faixa Est.<span style="color:red">*</span></label>
                        <input type="number"  step="0.01" class="form-control" name="1faixacomissaoest" id="field_1faixacomissaoest"
                                ng-model="vm.comissaoregionaledicao.valorComissaoEstabelecimenotFaixa1" required
                                />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label class="control-label" for="field_2faixacomissaoest">2a Faixa Est.<span style="color:red">*</span></label>
                        <input type="number"  step="0.01" class="form-control" name="2faixacomissaoest" id="field_2faixacomissaoest"
                                ng-model="vm.comissaoregionaledicao.valorComissaoEstabelecimenotFaixa2" required
                                />
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label class="control-label" for="field_3faixacomissaoest">3a Faixa Est.<span style="color:red">*</span></label>
                        <input type="number"  step="0.01" class="form-control" name="3faixacomissaoest" id="field_3faixacomissaoest"
                                ng-model="vm.comissaoregionaledicao.valorComissaoEstabelecimenotFaixa3" required
                                />
                    </div>
                </div>   
                <div class="col-md-3 ">   <br/>             
                    <div class="btn-group flex-btn-group-container">
                        
                        <button class="btn btn-primary"
                                ng-click="vm.save()" has-authority="PERM_EDICAO_COMISSOES">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" >Salvar</span>
                        </button>
                        <button class="btn btn-default"
                                ng-click="vm.reset()" has-authority="PERM_EDICAO_COMISSOES">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span class="hidden-sm-down" >Cancelar</span>
                        </button>                        
                    </div>
                </div>
            </div>                        
        </div>
    </div>
    <!--span >Filter</span> <input type="text" ng-model="filter" class="form-control"-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th >ID</th>
                    <th >Regional</th>
                    <th >1a Faixa Reg.</th>
                    <th >2a Faixa Reg.</th>
                    <th >1a Faixa Est.</th>
                    <th >2a Faixa Est.</th>
                    <th >3a Faixa Est.</th>
                    <th class="text-right">
                        Selecionar todos 
                        <input  type="checkbox" ng-model="vm.allSelected" ng-click="vm.toggleAll()" ng-disabled="vm.onedit"> 
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="comissaoreg in vm.regionaiscomissoes | filter:filter track by comissaoreg.regional.id">
                    <td>{{comissaoreg.regional.id}}</td>
                    <td>{{comissaoreg.regional.nome}}</td>
                    <td>{{comissaoreg.valorComissaoRegionalFaixa1 | currency:"R$" }}</td>
                    <td>{{comissaoreg.valorComissaoRegionalFaixa2 | currency:"R$" }}</td>
                    <td>{{comissaoreg.valorComissaoEstabelecimenotFaixa1 | currency:"R$" }}</td>
                    <td>{{comissaoreg.valorComissaoEstabelecimenotFaixa2 | currency:"R$" }}</td>
                    <td>{{comissaoreg.valorComissaoEstabelecimenotFaixa3 | currency:"R$" }}</td>
                    <td class="text-right">
                        <!--div class="btn-group flex-btn-group-container" ng-show="!comissaoreg.onedit">
                            <button ng-click="vm.edit(comissaoreg)"  has-authority="PERM_EDICAO_COMISSOES" 
                                class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div-->

                        <input  type="checkbox" id="field_duplachance"  name="duplachance"
                        ng-model="comissaoreg.onedit" ng-click="vm.oneSelected()" ng-disabled="vm.onedit">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
