
<div>
    <h2><span data-translate="sorteioApp.arearegional.detail.title">Área Regional</span> {{vm.arearegional.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt>Situação</span></dt>
        <dd>
            <span>{{vm.arearegional.ativo?'Ativo':'Inativo'}}</span>
        </dd>                
        <dt><span data-translate="sorteioApp.arearegional.cpf">CPF</span></dt>
        <dd>
            <span>{{vm.arearegional.cpf}}</span>
        </dd>
        <dt><span data-translate="sorteioApp.arearegional.nome">Nome</span></dt>
        <dd>
            <span>{{vm.arearegional.nome}}</span>
        </dd> 
        <dt><span data-translate="sorteioApp.arearegional.telefone">Telefone</span></dt>
        <dd>
            <span>{{vm.arearegional.telefone}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="arearegional"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="arearegional-detail.edit({id:vm.arearegional.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    <button type="submit"
            ui-sref="arearegional.delete({id:vm.arearegional.id})" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
    </button>

</div>
