<form name="deleteForm" ng-submit="vm.confirmDelete(vm.arearegional.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.delete.title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div>  
        <p data-translate="sorteioApp.arearegional.delete.question" translate-values="{id: '{{vm.arearegional.id}}'}">Are you sure you want to delete this arearegional?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
