<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 data-translate="sorteioApp.arearegional.home.title">Áreas das Regionais</h2>                
            </div>
            <div class="col-xs-4 no-padding-left" >
                <br>
                <button has-authority="PERM_CADASTRO_AREA_REGIONAL" class="btn btn-primary pull-right" ui-sref="arearegional.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sorteioApp.arearegional.home.createLabel">
                        Criar nova Subregional (Área)
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">  <h3 class="panel-title">Filtro</h3> </div>
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-6 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="field_nome"
                                ng-model="vm.filtro.nome" ng-maxlength=100  ng-minlength="3" />
                    </div> 
                </div>  
                <div class="col-md-2 "> 
                    <div class="form-group">
                        <label class="control-label" for="field_telefone">Telefone</label>
                        <input type="text" class="form-control" name="telefone" id="field_telefone"
                                ng-model="vm.filtro.telefone" ng-maxlength=6  />
                    </div> 
                </div>     
                <div class="col-md-2 ">
                    <div class="form-group">
                        <label></label>
                        <div class="checkbox">
                           <label for="field_situacao"><input  type="checkbox" id="field_situacao"  name="situacao"
                           ng-model="vm.filtro.ativo"  >Somente Ativo</label>
                        </div>
    
                    </div>
                </div>                       
            </div>          
            <div class="row" >             
                <div class="col-md-8 "> 
                    <div class="form-group">
                        <label for="field_regional">Regional</label>
                        <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
                        ng-options="regional.id as regional.nome for regional in vm.regionais | orderBy: [nome]"  >
                            <option value=""></option>
                        </select>
                    </div> 
                </div>                        
                <div class="col-md-3 form-group">
                    <br>
                    <button class="btn btn-primary" ng-click="vm.limparFiltro()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button>            
                    <button class="btn btn-primary" ng-click="vm.filtrar()">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Filtrar</span>
                    </button>
                </div>    
            </div>    
        </div>
    </div>             
    <!--span >Filter</span> <input type="text" ng-model="filter" class="form-control"-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="sorteioApp.arearegional.nome">Nome Fantasia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="responsavel">Responsável</th>
                    <th ><span data-translate="sorteioApp.arearegional.telefone">Telefone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th >Regional</th>
                    <th >Situação</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="arearegional in vm.areasregional | filter:filter track by arearegional.id">
                    <td><a ui-sref="arearegional-detail({id:arearegional.id})">{{arearegional.id}}</a></td>
                    <td><a ui-sref="arearegional-detail({id:arearegional.id})">{{arearegional.nome}}</a></td>
                    <td>{{arearegional.responsavel}}</td>
                    <td>{{arearegional.telefone}}</td>
                    <td>{{arearegional.regional.nome}}</td> 
                    <td>{{arearegional.ativo?'Ativo':'Inativo'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button has-authority="PERM_CADASTRO_AREA_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('arearegional.edit',{id:arearegional.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button has-authority="PERM_CADASTRO_AREA_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('arearegional.delete',{id:arearegional.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                            <button has-authority="PERM_CADASTRO_AREA_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('arearegional.distribuicao',{regional: arearegional.id, id:arearegional.id})"
                                    class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon glyphicon-cog"></span>
                                <span class="hidden-sm-down" >Distribui</span>
                            </button>                               
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>       
</div>
