
<form name="vm.editForm" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="areaRegionalLabel" data-translate="sorteioApp.arearegional.home.createOrEditLabel">Create or edit a Área Regional</h4>
    </div>
    <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
    <input id="password" style="display:none" type="password" name="fakepasswordremembered">
    <div class="modal-body">
        <!--jhi-alert-error></jhi-alert-error-->
        <jhi-alert></jhi-alert>        
        <div class="row">
            <div class="alert alert-danger" ng-show="vm.passwordDoNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>        
        <div class="form-group" ng-show="vm.arearegional.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.arearegional.id" readonly />
        </div>
        <div class="row"> 
            <div class="col-md-8 ">         
                <div class="form-group">
                    <label for="field_regional">Regional<span style="color:red">*</span></label>
                    <select class="form-control" id="field_regional" name="regional" ng-model="vm.arearegional.regional"
                    ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" required >
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 ">         
                    <div class="form-group">
                        <label></label>
                        <div class="checkbox">
                           <label for="field_situacao"><input  type="checkbox" id="field_situacao" name="situacao"
                            ng-model="vm.arearegional.ativo" >Situação Ativa</label>
                        </div>
                         
                    </div>
                </div>            
        </div>
        <div class="row">             
            <div class="col-md-8 ">
                <div class="form-group">
                    <label class="control-label" for="field_nome">Nome da Área<span style="color:red">*</span></label>
                    <input type="text" class="form-control uppercase" name="nome" id="field_nome"
                           ng-model="vm.arearegional.nome" ng-maxlength=100 required />
                    <div ng-show="vm.editForm.nome.$dirty && vm.editForm.nome.$invalid">
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.required" >
                            O campo nome é obrigatório.
                        </p>
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.minlength" >
                            O campo nome deve ter pelo menos 1 caracter.
                        </p>
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.maxlength" >
                            O campo nome deve ter no máximo 100 caracteres.
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-md-3 ">
                <div class="form-group">
                    <label class="control-label" for="field_percentualrepasse">Comissão(%)<span style="color:red">*</span></label>
                    <input type="number" class="form-control" name="percentualRepasse" id="field_percentualrepasse"
                            ng-model="vm.arearegional.percentualRepasse" required
                            />
                </div>
            </div>
        </div>    
        <div class="row"> 
            <div class="col-md-4 ">               
                <div class="form-group">
                    <label class="control-label"  for="field_cpf">CPF<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                            ng-model="vm.arearegional.cpf" required />
                    <div ng-show="vm.editForm.cpf.$dirty && vm.editForm.cpf.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.required" >
                            O campo CPF é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.minlength" >
                            O campo CPF deve ter 11 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.maxlength" >
                            O campo CPF deve ter 11 caracteres.
                        </p>
                    </div>                                   
                </div>
             </div>    
             <div class="col-md-8 ">
                    <div class="form-group">
                        <label class="control-label" for="field_responsavel">Nome do Responsável<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="responsavel" id="field_responsavel"
                               ng-model="vm.arearegional.responsavel" ng-minlength=2 ng-maxlength=64 required
                        />
                        <div ng-show="vm.editForm.responsavel.$dirty && vm.editForm.responsavel.$invalid">
                            <p class="help-block"
                               ng-show="vm.editForm.responsavel.$error.minlength" >
                                O campo responsavel deve ter pelo menos 2 caracteres.
                            </p>
                            <p class="help-block"
                               ng-show="vm.editForm.responsavel.$error.maxlength" >
                                O campo responsavel deve ter no máximo 64 caracteres.
                            </p>
                        </div>
                    </div>
                </div> 
         </div>    
        <div class="row"> 
            <div class="col-md-4 ">       
                <div class="form-group">
                    <label class="control-label" data-translate="sorteioApp.arearegional.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                            ng-model="vm.arearegional.telefone" ng-minlength=6 ng-maxlength=16
                            />
                    <div ng-show="vm.editForm.telefone.$dirty && vm.editForm.telefone.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.telefone.$error.minlength" >
                            O campo telefone deve ter pelo menos 6 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.telefone.$error.maxlength" >
                            O campo telefone deve ter no máximo 16 caracteres.
                        </p>
                    </div>                               
                </div>
             </div>    
             <div class="col-md-8 ">                 
                <div class="form-group">
                    <label class="control-label" for="field_email" data-translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="field_email" name="email" 
                           ng-model="vm.arearegional.email" ng-minlength=5 ng-maxlength=100 >
                    <div ng-show="vm.editForm.email.$dirty && vm.editForm.email.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.email.$error.required" >
                            O campo email é obrigatório.
                        </p>                        
                        <p class="help-block"
                               ng-show="vm.editForm.email.$error.minlength" >
                            O campo email deve ter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.email.$error.maxlength" >
                            O campo email deve ter no máximo 100 caracteres.
                        </p>
                    </div>                           
                </div>               
             </div>   
         </div> 
         <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="usuario" data-translate="global.form.username">Username</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" 
                            placeholder="{{'global.form.username.placeholder' | translate}}"
                            ng-model="vm.arearegional.login" ng-minlength=1 ng-maxlength=50 
                            ng-pattern="/^[A-Za-z]*$/" autocomplete="nope">
                    <div ng-show="vm.editForm.usuario.$dirty && vm.editForm.usuario.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.required" >
                            O campo login é obrigatório.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.minlength" >
                            O campo login deve ter ao menos 1 caracter.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.maxlength" >
                            O campo login deve ter no máximo 50 caracteres.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.pattern" >
                            O campo login deve ter somente letras.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="senha" data-translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="senha" name="senha" 
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="vm.arearegional.senha" ng-minlength=4 ng-maxlength=50 autocomplete="new-password">
                    <div ng-show="vm.editForm.senha.$dirty && vm.editForm.senha.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.required" >
                            O campo senha é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.minlength" >
                            O campo senha deve ter ao menos 4 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.maxlength" >
                            O campo senha deve ter no máximo 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.arearegional.senha"></password-strength-bar>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmaSenha" ng-minlength=4 ng-maxlength=50>
                    <div ng-show="vm.editForm.confirmPassword.$dirty && vm.editForm.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.required" >
                            O campo de confirmação de senha é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.minlength" >
                            O campo de confirmação de senha deve ter ao menos 4 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.maxlength" >
                            O campo de confirmação de senha deve ter no máximo 50 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="vm.editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
