<div>
    <h2 >Sorteio Mensal </h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">

    <br/>   
       <div class="row ">               
               <div class="col-md-3 form-group">


                    <label class="control-label" for="field_quantidadeNumeros">Numero</label>
                    <div class="input-group">  
                        <input type="number" class="form-control" name="quantidadeNumeros" id="field_quantidadeNumeros"
                         ng-model="vm.novonumero"
                        />                         
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="vm.addNumeroSorteado()" >
                                <span class="glyphicon glyphicon glyphicon glyphicon-info-sign">Confimar</span>                        
                            </button>                      
                        </span>        
                    

                 </div>
        </div>     
    </div><br/><br/>     
    <b>Números Sorteados: </b> {{vm.numerosSorteados}}       
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tbody>
            <tr>
               <td>Bilhetes com #10</td> <td>{{vm.quantidadeBilhetesPorPontuacao[10]}}</td>
            </tr>           
            <tr>    
               <td>Bilhetes com #9</td> <td>{{vm.quantidadeBilhetesPorPontuacao[9]}}</td>
            </tr>           
            <tr>    
               <td>Bilhetes com #8</td> <td>{{vm.quantidadeBilhetesPorPontuacao[8]}}</td>                              
            </tr>
            <tr>    
               <td>Bilhetes com #7</td> <td>{{vm.quantidadeBilhetesPorPontuacao[7]}}</td>                              
            </tr>
            <tr>    
               <td>Bilhetes com #6</td> <td>{{vm.quantidadeBilhetesPorPontuacao[6]}}</td>                              
            </tr>                 
            <tr>    
               <td>Bilhetes com #5</td> <td>{{vm.quantidadeBilhetesPorPontuacao[5]}}</td>                              
            </tr>                                    
            </tbody>
        </table>    
    </div>
    <b>   Bilhetes ganhadores    <b>    
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                    <th >Identificação</th>
                    <th >Dezenas</th>
                    <th >Estabelecimento</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bilhete in vm.bilhetesSorteados track by bilhete.identificacao">
                    <td>{{bilhete.identificacao}}</td>
                    <td>{{bilhete.dezenas}}</td>
                    <td>{{bilhete.estabelecimento.nome}} [{{bilhete.estabelecimento.bairro}}/{{bilhete.estabelecimento.cidade}}]</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
        