<div>
    <h2 >Bilhetes para sorteio </h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">

    <br/>   
    <div class="row">        
                <button class="btn btn-primary" ng-click="vm.sortear()" >
                    <span class="glyphicon glyphicon glyphicon glyphicon-info-sign"></span>
                        Sortear
                </button>     
                <button class="btn btn-primary" ui-sref="sorteio.diario-dialog({elementos:vm.numerosSorteados, concurso: vm.concurso})" >
                    <span class="glyphicon glyphicon-star"></span>
                        Abrir Dialog
                </button>
    </div><br/><br/>            
    <div class="table-responsive" >
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                    <th >Identificação</th>
                    <th >Estabelecimento</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bilhete in vm.numerosSorteados track by bilhete.identificacao">
                    <td>{{bilhete.identificacao}}</td>
                    <td>{{bilhete.estabelecimento.nome}} [{{bilhete.estabelecimento.bairro}}/{{bilhete.estabelecimento.cidade}}]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
        