
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-body" ng-keypress="vm.startSorteio()">
        <div class="comandos">
            <button type="button"   class="btn btn-outline-primary btn-xs" ng-click="vm.startSorteio()">                   
                <span class="glyphicon glyphicon glyphicon-play"></span>
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>    

        </div>
        <div class="titulo"> {{vm.dataAtual}}    </div>    

        <br/>
        <table >
            <tbody>
            <tr ng-repeat="tupla in vm.tuplas">
                    <td class="container" ng-repeat="p in tupla track by p.identificacao">
                    <div> 
                        <div class="numero" ng-show="p.mostrarNumeroBilhete">
                            <span  ng-repeat="a in p.anim1 track by $index"><ng-odometer  value="a"></ng-odometer></span><span  ng-repeat="a in p.anim2 track by $index"><ng-odometer  value="a"></ng-odometer></span>{{p.separador}}<span  ng-repeat="a in p.anim3 track by $index"><ng-odometer  value="a"></ng-odometer></span>
                        </div>  
                        <div class="referencia" ng-show="p.mostrarEstabelecimento">
                                {{p.estabelecimento.nome}} 
                        </div>  
                        <div class="referencia" ng-show="p.mostrarEstabelecimento">
                                {{p.estabelecimento.bairro}}/{{p.estabelecimento.cidade}}
                        </div>                          
                    </div>
                    </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
