<div>
    <h2 >Bilhetes para sorteio </h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <!--div class="row form-group" >
            <label for="concursoid" >Concurso</label>
            <input type="text" class="form-control" id="concursoid" name="concursoid"
                    ng-model="vm.concursoid"/>
        </div-->

        <div class="row form-inline">
            <div class="col-md-3 form-group">
                <label for="field_concurso">concurso</label>
                <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                ng-init="vm.concurso=vm.concursos[0]" >

                </select>
            </div>
        </div> 
        <br/>   
        <div class="row">
            <div class="col-xs-5 no-padding-left">                
                <button class="btn btn-primary" ng-click="vm.resetLocalDB()" >
                    <span class="glyphicon glyphicon glyphicon glyphicon-off"></span>
                        Reset local DB
                </button>
                <button class="btn btn-primary" ng-click="vm.refreshLocalDB()" >
                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                        Refresh local DB
                </button>                
            </div>

            
            <div class="col-xs-2">
                <button class="btn btn-primary" ui-sref="sorteio.diario(vm.concurso)" >
                    <span class="glyphicon glyphicon-star"></span>
                        Sorteio Diário
                </button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ui-sref="sorteio.mensal(vm.concurso)" >
                    <span class="glyphicon glyphicon-star-empty"></span>
                        Sorteio Mensal
                </button>
            </div>            
        </div>
    </div>
    <br/>
    <!--div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr >
                    <th >Concurso</th>
                    <th >Número</th>
                    <th >Identificação</th>
                    <th >Dezenas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bilhete in vm.bilhetes track by bilhete.numero">
                    <td>{{bilhete.concursoId}}</td>
                    <td>{{bilhete.numero}}</td>
                    <td>{{bilhete.identificacao}}</td>
                    <td>{{bilhete.dezenas}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"  
                   ng-model="vm.page" ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div-->
</div>
