<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 data-translate="sorteioApp.validacaobilhete.home.title">Validação Bilhetes</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    Selecione inicialmente o concurso que desejado, e então preenchar o campo o bilhete que deseja validar.
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-5 "> 
                    <label for="field_concurso" >Concurso<span style="color:red">*</span></label>
                    <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.validacao.concurso"
                    ng-options="concurso as concurso.label for concurso in vm.concursos "
                    ng-change="vm.changeconcurso()">
                    </select>
                </div>               
                <div class="form-group col-md-7">
                    <label for="field_bilhete">Bilhete<span style="color:red">*</span></label>
                        <input type="text" focus class="form-control" name="bilhete" id="field_bilhete"
                                ng-model="vm.validacao.bilhete" ng-keyup="$event.keyCode == 13 && vm.validar()"
                                />
                </div>                        
                <div class="col-md-3 form-group">
                    <br>
                    <button class="btn btn-primary"  ng-click="vm.limparForm()" data-translate="sorteioApp.validacaobilhete.home.cleanLabel">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button>            
                    <button class="btn btn-primary" ng-click="vm.validar()" data-translate="sorteioApp.validacaobilhete.home.validateLabel">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Validar</span>
                    </button>
                </div>    
            </div>    
        </div>
    </div>    
    <br/>
    <b> Útimos 10 bilhetes validados nesta sessão </b>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Bilhete </th>
                <th> Hora de Validação </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, val) in vm.lastValidations | orderBy : ['-date']  track by val.date"
                ng-class="{'enfase-primeira-linha-grupo-tabela': (lotebilhete.rowspan!=0), 'enfase-primeira_linha_toda-tabela': $index == 0}"
                >
                <td>{{val.bilhete}}</td>
                <td>{{val.date | date : 'dd/MM/yyyy HH:mm:ss'}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
