
<div>
    <h2><span >Consultar Estado do Bilhete</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">Concurso<span style="color:red">*</span></label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.filtro.concurso" ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-3">
            <label for="field_numero">Número <span style="color:red">*</span></label>
            <input type="text" focus class="form-control" placeholder="Número" 
                    id="field_numero" name="field_numero" aria-describedby="{{'bilhete-inicial-addon'}}"
                    ng-model="vm.filtro.numero" 
                >
        </div>    
        <div class="col-md-3 form-group">
            <br>      
            <button class="btn btn-primary" ng-click="vm.loadAll()">
                <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Consultar</span>
            </button>
        </div>           
    </div>
    <br/>
    <p>O número do bilhete corresponde aos últimos dígitos antes do código de validação: YYYYYY<span style='color:red'>XXXXX</span>-YY </p>
    <p>*Caso não obtenha nenhuma resposta para a sua consulta, verifique se você possui permissão sobre eles.</p>
    <br/>
    <div class="table-responsive" ng-show='vm.bilhetes'>
        <h3>Dados da validação</h3>
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Identificação </th>
                <th >Regional</th>
                <th >Estabelecimento</th>                  
                <th >Validado</th>               
                <th >Lote Validação </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, bilstat) in vm.bilhetes | orderBy : ['identificacao']  track by bil.identificacao"   
                >
                <td >{{bilstat.concurso.label}}</td>      
                <td >{{bilstat.bilhete.identificacao}}</td>
                <td >{{bilstat.regional.nome}} </td>
                <td> {{bilstat.estabelecimento.nome}}</td>
                <td >{{true == bilstat.bilhete.validado ? 'SIM' : 'NÃO' }}</td> 
                <td>{{bilstat.bilhete.loteValidacao}}</td>                
            </tr>
            </tbody>
        </table>
        <br>
        <h3>Últimas movimentações relacionadas</h3>        
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Número Ini.</th>
                <th >Número Fim</th>                
                <th >Regional Antiga </td>
                <th> Estab. Antigo</th>                            
                <th> Regional Nova</th>
                <th> Estab. Novo</th>
                <th> Usuario</th>
                <th> Data</th>                                                                        
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, dist) in vm.logdistribuicao | orderBy : ['-id']  track by dist.id"
                >
                <td>{{dist.concurso.label}}</td>
                <td>{{dist.bilheteInicio}}</td>
                <td>{{dist.bilheteFim}}</td>                
                <td>{{dist.antigaRegional}}</td>
                <td >{{dist.antigoEstabelecimento}}</td>
                <td >{{dist.novaRegional}}</td>                        
                <td >{{dist.novoEstabelecimento}}</td>                        
                <td >{{dist.usuarioModificacao}}</td>
                <td >{{dist.dataModificacao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>                                                                        
            </tr>
            </tbody>
        </table>

    </div>
    <!--div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div-->        
</div>
