
<div>
    <h2><span >Consultar Estado de Bilhetes previamente distribuídos para estabelecimentos</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="field_concurso">Concurso<span style="color:red">*</span></label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.filtro.concurso" ng-change="vm.changeconcurso()" >
            </select>
        </div>  
    </div>
    <div class="row">       
        <div class="col-md-2">
            <label for="field_numeroInicial">Número Inicial<span style="color:red">*</span></label>
            <input type="text" focus class="form-control" placeholder="Número Inicial" 
                    id="field_numeroInicial" name="field_numeroInicial" aria-describedby="{{'bilhete-inicial-addon'}}"
                    ng-model="vm.filtro.numinicio" ng-change="vm.filtro.lote = null;" > 
                
        </div>    
        <div class="col-md-2">
            <label for="field_numeroFinal">Número Final<span style="color:red">*</span></label>
            <input type="text" focus class="form-control" placeholder="Número Final" 
                    id="field_numeroFinal" name="field_numeroFinal" aria-describedby="{{'bilhete-final-addon'}}"
                    ng-model="vm.filtro.numfim"  ng-change="vm.filtro.lote = null;" >                    
        </div>
        <div class="col-md-1">OU</div>        
        <div class="col-md-2">
                <label for="field_lote">Lote Validação<span style="color:red">*</span></label>
                <input type="text" focus class="form-control" placeholder="Lote" 
                        id="field_lote" name="field_lote"
                        ng-model="vm.filtro.lote"  ng-change="vm.filtro.numinicio = vm.filtro.numfim = null;"
                    >
            </div>
        <div class="col-md-3 form-group">
            <br>      
            <button class="btn btn-primary" ng-click="vm.loadAll()">
                <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Consultar</span>
            </button>
        </div>           
    </div>
    <br/><br/>
    <p>Consulte OU pelo lote de validação OU por uma faixa de números de bilhetes.</p>
    <p>O número do bilhete corresponde aos últimos dígitos antes do código de validação: YYYYYY<span style='color:red'>XXXXX</span>-YY </p>
    <p>Caso não obtenha nenhuma resposta para a sua consulta, verifique se há bilhetes distribuídos para estabelecimentos no intervalo indicado e se você possui permissão sobre eles</p>
    <br>
    <div class="table-responsive" ng-show="vm.statusbilhetes">
        <h3>Bilhetes validados: {{vm.quantidadeValidados}} de {{vm.totalItems}}</h3>
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Regional</th>
                <th >Estabelecimento </th>
                <th >Identificação </th>
                <th >Validado</th>           
                <th>Lote Validação</th>                

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, bilstat) in vm.statusbilhetes | orderBy : ['bilhete.identificacao']  track by bilstat.bilhete.identificacao"   
                >
                <td >{{bilstat.concurso.label}}</td>
                <td >{{bilstat.regional.nome}} </td>
                <td> {{bilstat.estabelecimento.nome}}</td>
                <td >{{bilstat.bilhete.identificacao}}</td>
                <td >{{true == bilstat.bilhete.validado ? 'SIM' : 'NÃO' }}</td>   
                <td>{{bilstat.bilhete.loteValidacao}}</td>                
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-show="vm.statusbilhetes">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>        
</div>
