
<div>
    <h2><span >Consultar Lotes de Bilhetes Validados</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">Concurso<span style="color:red">*</span></label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.filtro.concurso" ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regionalid"
            ng-options="regional.id as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >             
            </select>
        </div>   
        <div class="col-md-3 form-group">
            <br>      
            <button class="btn btn-primary" ng-click="vm.loadAll()">
                <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Consultar</span>
            </button>
        </div>           
    </div>
    <br/><br/>
    <div class="table-responsive" ng-show="vm.statusbilhetes">
        <h3>Total de bilhetes validados: {{vm.quantidadeValidados}} (para as regionais selecionadas)</h3>
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Lote Validação</th>
                <th >Data Validacação </th>
                <th >Quantidade</th>              

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, bilstat) in vm.statusbilhetes | orderBy : ['loteValidacao']  track by bilstat.loteValidacao"   
                >
                <td >{{bilstat.concurso.label}}</td>
                <td >{{bilstat.loteValidacao}} </td>
                <td> {{bilstat.dataValidacao | date : 'dd/MM/yyyy hh:mm:ss' }}</td>
                <td >{{bilstat.quantidade}}</td>               
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-show="vm.statusbilhetes">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>        
</div>
