
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mylancamentoLabel" >Criar ou atualizar Lançamento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row" >
            <div class="col-md-12 form-group" class="form-group" ng-show="vm.lancamento.id">
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.lancamento.id" readonly />
                </div>   
        </div>  
        <div class="row">
                <div class="col-md-12 "> 
                    <div class="form-group">
                        <label for="field_tipos">Tipos Operação</label>
                        <select class="form-control" id="field_tipos" name="tipos" 
                        ng-model="vm.lancamento.tipoOperacao" ng-change="vm.changeTipoOperacao()"
                        ng-options="tipoOperacao as tipoOperacao.nome for tipoOperacao in vm.tiposOperacao " >
                            <option value=""></option>
                        </select>
                    </div> 
                </div> 
                <div class="col-md-12 form-group">
                    <label for="field_grupo">Grupo Lançamento<span style="color:red">*</span></label>
                    <select class="form-control" id="field_grupo" name="grupo" ng-model="vm.lancamento.grupoLancamento"
                    ng-options="grupo as grupo.nomeGrupo for grupo in vm.gruposLancamento track by grupo.id" 
                    required>
                    </select>
                </div> 
            </div>          
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label" for="field_dataLancamento">Data<span style="color:red">*</span></label>
                    <div class="input-group">
                        <input id="field_dataLancamento" type="date" class="form-control" name="dataLancamento" uib-datepicker-popup  ng-model="vm.lancamento.dataLancamento" is-open="vm.datePickerOpenStatus.dataLancamento"
                          required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataLancamento')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>                           
                <div class="col-md-4 form-group">
                    <label for="field_valor">Valor<span style="color:red">*</span></label>
                    <input class="form-control" name="valor" id="field_valor"
                    ng-model="vm.lancamento.valor" required ng-change="vm.changevalor()">
                    
                </div>                           
            </div>            
            <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="field_descricao">Descricao<span style="color:red">*</span></label>
                        <input class="form-control" name="descricao" id="field_descricao"
                        ng-model="vm.lancamento.descricao" required
                        />
                    </div>
             </div>               
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
