<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 >Lançamentos Financeiros</h2>
            </div>
            <div class="col-xs-4 no-padding-left">
                <br>
                <button class="btn btn-primary" ui-sref="lancamento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Cria nova Lançamento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <br/>
   <div class="panel panel-default">
        <div class="panel-heading">  <h3 class="panel-title">Filtro</h3> </div>
        <div class="panel-body">           
            <div class="row" >             
                <div class="col-md-6 "> 
                    <div class="form-group">
                        <label for="field_tipos">Tipos Operação</label>
                        <select class="form-control" id="field_tipos" name="tipos" ng-model="vm.filtro.tipoOperacao"
                        ng-options="tipoOperacao as tipoOperacao.nome for tipoOperacao in vm.tiposOperacao " >
                            <option value=""></option>
                        </select>
                    </div> 
                </div>
            </div>                               
            <div class="row" >                        
                <div class="col-md-3 form-group">
                    <label class="control-label" for="field_dataInicio">Data Início<span style="color:red">*</span></label>
                    <div class="input-group">
                        <input id="field_dataInicio" type="date" class="form-control" name="dataInicio" uib-datepicker-popup  ng-model="vm.filtro.dataInicio" is-open="vm.datePickerOpenStatus.dataInicio"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>                           
                <div class="col-md-3 form-group">
                    <label class="control-label" for="field_dataFim">Data Fim<span style="color:red">*</span></label>
                    <div class="input-group">
                        <input id="field_dataFim" type="date" class="form-control" name="dataFim" uib-datepicker-popup ng-model="vm.filtro.dataFim" is-open="vm.datePickerOpenStatus.dataFim"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataFim')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <br>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" title="Filtrar Lançamentos" ng-click="vm.filtrar()">
                                <span class="glyphicon glyphicon-search">Filtrar</span>
                            </button>                                                    
                        <button type="button" class="btn btn-default" title="Download planilha" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download"></span>
                                </button>                                     
                    </div>                      
                    <button class="btn" ng-click="vm.limparFiltro()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button>            
                </div>    
            </div>    
        </div>
    </div>       
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!--th jh-sort-by="id">ID da LancamentoFinanceiro <span class="glyphicon glyphicon-sort"></span></th-->
                    <th >Data </th>
                    <th >Tipo Operação</th>
                    <th >Grupo </th>
                    <th >Descricao</th>
                    <th >Valor</th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="des in vm.lancamentos | orderBy : ['dataLancamento', 'grupoLancamento.nomeGrupo'] track by des.id ">
                    <!--td>{{des.id}}</td-->
                    <td>{{des.dataLancamento | date : 'dd/MM/yyyy'}}</td>  
                    <td>{{des.grupoLancamento.tipoOperacao.nome}}</td>                                        
                    <td>{{des.grupoLancamento.nomeGrupo}}</td>
                    <td>{{des.descricao}}</td>
                    <td>{{des.valor}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button 
                            ng-click="vm.transitonTo('lancamento.edit', des)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button 
                                    ng-click="vm.transitonTo('lancamento.delete',{id:des.id})"
                                    class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                      ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>    
</div>
