<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Distribuição Bilhetes online</h2>                
            </div>    
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="field_concurso">Concurso<span style="color:red">*</span></label>
                    <select name="concurso" id="concurso" class="form-control" ng-model="vm.lote.concurso"
                    ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                    ng-init="vm.lote.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()"></select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="field_regional">Regional<span style="color:red">*</span></label>
                    <select ng-disabled="vm.regionais.length == 1" name="regional" id="regional" class="form-control" ng-model="vm.lote.regional"
                    ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
                    tabindex="3" focus ng-change="vm.changeregional()">
                        <option value="">Nenhuma Regional</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="field_subregional">Sub Regional (Área)</label>
                    <select name="subregional" ng-disabled="vm.disabledArea" id="subRegional" class="form-control" ng-model="vm.lote.areasregional""
                    ng-options="areaRegional as areaRegional.nome for areaRegional in vm.areasregional track by areaRegional.id" ng-change="vm.changeArea()">
                        <option value="">Nenhuma Sub Regional</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="field_estabelecimento">Estabelecimento</label>
                    <select name="estabelecimento" id="estabelecimento" class="form-control" ng-model="vm.lote.estabelecimento"
                    ng-options="estabelecimento as estabelecimento.nome for estabelecimento in vm.estabelecimentos track by estabelecimento.id">
                        <option value="">Nenhum Estabelecimento</option>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label for="label_quantidade_bilhete">Quantidade de bilhetes <span style="color:red">*</span></label>
                    <input type="text" name="quantidade_bilhete" ng-model="vm.lote.quantidade" id="quantidade_bilhete" class="form-control">
                </div>
                <div class="col-md-2 form-group" style="display: flex; align-items: end; justify-content: end; flex-direction: column;"> <!-- Ajuste aqui -->
                    <label for="">&nbsp;</label>
                    <button class="btn btn-primary" ng-click="vm.distribuir()"> <!-- Adicione mt-1 para ajuste fino -->
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;
                        <span>Gerar Bilhetes</span>
                    </button>
                </div>
            </div>

            <div class="row" ng-show="vm.bilhetes.length > 0">
                <div class="col-md-12">
                    <div style="border: 1px solid; background-color: #ebe8e8; padding: 10px; margin-top: 10px;">
                        <p>Bilhete Inicial: {{vm.bilhetes[0]}}</p>
                        <p>Bilhete Final: {{vm.bilhetes[1]}}</p>
                        <p>Quantidade de Bilhetes Distribuidos: {{vm.lote.quantidade}}</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>