<form name="form" role="form" ng-submit="vm.confirmReset()" novalidate show-validation>
    <jhi-alert-error></jhi-alert-error>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" >Reset da senha do usuário {{vm.resetAccount.login}}</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </div>

        <div class="alert alert-danger" ng-show="vm.error">
            <p >A senha não pode ser alterada. Contacte o administrador!</p>
        </div>        
        <div class="form-group">
            <label class="control-label" for="password" data-translate="global.form.newpassword">New password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                    ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
            <div ng-show="form.password.$dirty && form.password.$invalid">
                <p class="help-block"
                    ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                    Your password is required.
                </p>
                <p class="help-block"
                    ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                    Your password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                    ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                    Your password cannot be longer than 50 characters.
                </p>
            </div>
            <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
        </div>

        <div class="form-group">
            <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                    ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                <p class="help-block"
                    ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                    Your password confirmation is required.
                </p>
                <p class="help-block"
                    ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                    Your password confirmation is required to be at least 4 characters.
                </p>
                <p class="help-block"
                    ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                    Your password confirmation cannot be longer than 50 characters.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon glyphicon-repeat"></span>&nbsp;<span >Reset Senha</span>
        </button>
    </div>
</form>
