
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="distribuicaoLabel" >Distribuição de Bilhetes para Regional {{vm.lotedistribuicao.regionalNome}}</h4>
    </div>
    <div class="modal-body">
        <!--jhi-alert-error></jhi-alert-error-->
        <jhi-alert></jhi-alert>
        <div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="field_concurso">Concurso<span style="color:red">*</span></label>
                <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.lotedistribuicao.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()">

                </select>
            </div>
            <div class="col-md-4">
                <label for="field_bilheteInicial">Bilhete Inicial<span style="color:red">*</span></label>
                <input type="text" name="bilheteInicial" id="field_bilheteInicial" 
                tabindex="1" focus class="form-control" placeholder="00000000000-00" aria-describedby="{{'bilhete-inicial-addon'}}"
                        ng-model="vm.lotedistribuicao.bilheteInicial" ng-blur="vm.changeBilhete()" 
                    >
            </div>    
            <div class="col-md-4">
                <label for="field_bilheteFinal">Bilhete Final<span style="color:red">*</span></label>
                <input type="text" name="bilheteFinal" id="field_bilheteFinal" 
                tabindex="2" focus class="form-control" placeholder="00000000000-00" aria-describedby="{{'bilhete-final-addon'}}"
                        ng-model="vm.lotedistribuicao.bilheteFinal" ng-blur="vm.changeBilhete()" 
                    >              
            </div>
        </div>
        <div class="row">    
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="field_seloInicial">Selo Inicial</label>
                <input type="text" name="seloInicial" id="field_seloInicial" 
                tabindex="3" focus class="form-control" placeholder="Selo Inicial" ng-change="vm.changeNumeroSelo()"
                        ng-model="vm.lotedistribuicao.seloInicial"  
                    >
            </div>    
            <div class="col-md-4">
                <label for="field_seloFinal">Selo Final</label>
                <input type="text" name="seloFinal" id="field_seloFinal" 
                tabindex="4" focus class="form-control" placeholder="Selo Final" ng-change="vm.changeNumeroSelo()"
                        ng-model="vm.lotedistribuicao.seloFinal" 
                    >              
            </div>            
        </div>

    </div>
    <div class="modal-footer">
        <button tabindex="5" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Confirma</span>
            </button>        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
    </div>    
</form>
