<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 data-translate="sorteioApp.regional.home.title">Regionais</h2>
            </div>
            <div class="col-xs-4 no-padding-left" >
                <br>
                <button has-authority="PERM_CADASTRO_REGIONAL" class="btn btn-primary pull-right" ui-sref="regional.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="sorteioApp.regional.home.createLabel">
                        Create new Regional
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">  <h3 class="panel-title">Filtro</h3> </div>
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label class="control-label" for="field_nome">Nome da Regional</label>
                        <input type="text" class="form-control" name="nome" id="field_nome"
                                ng-model="vm.filtro.nome" ng-maxlength=100 ng-minlength="3" />
                    </div>
                </div>
                <div class="col-md-4 "> 
                    <div class="form-group">
                        <label for="field_regiao">Região</label>
                        <select class="form-control" id="field_regiao" name="regiao" ng-model="vm.filtro.regiao"
                        ng-options="regiao.id as regiao.nome for regiao in vm.regioes | orderBy: [nome]" >
                            <option value=""></option>
                        </select>
                    </div> 
                </div>                  
                <div class="col-md-2 ">
                    <div class="form-group">
                        <label></label>
                        <div class="checkbox">
                           <label for="field_situacao"><input  type="checkbox" id="field_situacao"  name="situacao"
                           ng-model="vm.filtro.ativo"  >Somente Ativo</label>
                        </div>
    
                    </div>
                </div>                
            </div>
            <div class="row" >
                <div class="col-md-8 ">
                    <div class="form-group">
                        <label class="control-label" for="field_responsavel">Responsável</label>
                        <input type="text" class="form-control" name="responsavel" id="field_responsavel"
                                ng-model="vm.filtro.responsavel" ng-maxlength=100  ng-minlength="3" />
                    </div>
                </div>
                <div class="col-md-4 form-group">
                        <br>    
                        <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" title="Filtrar regionais" ng-click="vm.filtrar()">
                                        <span class="glyphicon glyphicon-search">Filtrar</span>
                                    </button>                                                    
                                <button type="button" class="btn btn-default" title="Download planilha" ng-click="vm.saveCSV()">
                                        <span class="glyphicon glyphicon-download"></span>
                                        </button>                                     
                        </div>               
                        <button class="btn " title="Limpar formulário" ng-click="vm.limparFiltro()">
                                <span class="glyphicon glyphicon-ban-circle">Limpar</span>
                            </button>                    
                </div>
            </div>
        </div>
    </div>
    <!--span >Filter</span> <input type="text" ng-model="filter" class="form-control"-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="sorteioApp.regional.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th >Responsável</th>
                    <th > Região</th>
                    <th ng-hide="vm.comissaoProgressiva">Comissão</th>
                    <th >Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="regional in vm.regionais | filter:filter track by regional.id">
                    <td><a ui-sref="regional-detail({id:regional.id})">{{regional.id}}</a></td>
                    <td><a ui-sref="regional-detail({id:regional.id})">
                        {{regional.nome}}</a></td>
                    <td>{{regional.responsavel}}</td>
                    <td>{{regional.regiao.nome}}</td>                    
                    <td ng-hide="vm.comissaoProgressiva"    >{{regional.percentualRepasse}}</td>                    
                    <td>{{regional.ativo?'Ativo':'Inativo'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--button type="submit"
                                    ng-click="vm.transitonTo('regional-detail',{id:regional.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button-->
                            <button has-authority="PERM_CADASTRO_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('regional.edit',{id:regional.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button has-authority="PERM_CADASTRO_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('regional.delete',{id:regional.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>                            
                            <button has-authority="PERM_DISTRIBUICAO_REGIONAL" type="submit"
                                    ng-click="vm.transitonTo('regional.distribuicao',{nome:regional.nome,id:regional.id})"
                                    class="btn btn-default btn-sm" ng-disabled="! regional.ativo">
                                    <span class="glyphicon glyphicon glyphicon-cog"></span>
                                <span class="hidden-sm-down" >Distribui</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>
</div>
