
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="devolucaoLabel" >Devolução de Bilhetes da regional {{vm.regional.nome}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
      
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="field_concursoid">concurso</label>
                <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.formlote.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                ng-init="vm.formlote.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()"
                ng-disabled="vm.packdevolucao.lista.length > 0">

                </select>
            </div>
        </div>        
        <div class="row"> 
            <div class="col-md-3 form-group">
                <label for="field_loteid">Lote ID</label>
                <input type="number" class="form-control" name="loteid" id="field_loteid"
                    ng-model="vm.formlote.loteid" />
            </div>
            <div class="col-md-1 form-group">
                <b>ou</b>
            </div>    
            <div class="col-md-3 form-group">
                <label for="field_bilheteInicial">Bilhete Inicial</label>
                    <input type="text" focus class="form-control" name="bilheteInicial" id="field_bilheteInicial"
                            ng-model="vm.formlote.bilheteInicial" ng-disabled="vm.formlote.loteid != null"
                            />
            </div>
            <div class="col-md-3 form-group">
                <label for="field_bilheteFinal">Bilhete Final</label>
                    <input type="text" focus class="form-control" name="bilheteFinal" id="field_bilheteFinal"
                            ng-model="vm.formlote.bilheteFinal" ng-disabled="vm.formlote.loteid != null"
                            />
            </div>
            <div class="col-md-2 form-group">
                <label > &nbsp;</label>
                <button type="button" class="form-control btn btn-default" data-dismiss="modal"  ng-click="vm.addLote()">
                    <span class="glyphicon glyphicon-plus" >&nbsp;Adicionar</span>
                </button>
            </div>        
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th > </th>
                    <th >Lote </th>
                    <th >Regional </th>
                    <th >Estabelecimento </th>
                    <th >Tipo </th>
                    <th >Bilhete Inicial </th>
                    <th >Bilhetes Final</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lotebilhete in vm.packdevolucao.lista | orderBy : ['loteid','bilheteInicial'] track by lotebilhete.trackprop">
                    <td ng-mouseenter="vm.mouseOverVerificationStatus(lotebilhete.trackprop)" 
                        ng-mouseleave="vm.mouseLeaveVerificationStatus(lotebilhete.trackprop)"> 
                        <span class="glyphicon glyphicon-ok-sign" ng-show="lotebilhete.verification"></span>
                        <span class="glyphicon glyphicon-remove-sign" 
                              ng-show="!lotebilhete.verification" title="{{vm.verificationStatusTooltip}}"></span>
                         </td>
                    <td>{{lotebilhete.loteid}}</td>
                    <td>{{lotebilhete.regional}}</td>
                    <td>{{lotebilhete.estabelecimento}}</td>
                    <td>{{lotebilhete.tipo.label}}</td>                    
                    <td>{{lotebilhete.bilheteInicial}}</td>
                    <td>{{lotebilhete.bilheteFinal}}</td>
                    <td> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                          ng-click="vm.removeFaixa(lotebilhete.trackprop)">&times;</button> </td>
                </tr>
                </tbody>
            </table>
        </div>    
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled=" !vm.allVerificationsOK() || editForm.$invalid || vm.isSaving" class="btn btn-primary" >
                <span class="glyphicon glyphicon-save" >&nbsp;<span data-translate="entity.action.save">Save</span></span>
            </button>
        </div>        
    </div>
</form>
