
<div>
    <h2><span data-translate="sorteioApp.regional.detail.title">Regional</span> {{vm.regional.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt>Situação</span></dt>
        <dd>
            <span>{{vm.regional.ativo?'Ativo':'Inativo'}}</span>
        </dd>        
        <dt>Responsável</span></dt>
        <dd>
            <span>{{vm.regional.responsavel}}</span>
        </dd>
        <dt><span >Cpf</span></dt>
        <dd>
            <span>{{vm.regional.cpf}}</span>
        </dd>
        <dt><span >Nome</span></dt>
        <dd>
            <span>{{vm.regional.nome}}</span>
        </dd>
        <dt><span >Login</span></dt>
        <dd>
            <span>{{vm.regional.login}}</span>
        </dd>        
        <dt><span >Email</span></dt>
        <dd>
            <span>{{vm.regional.email}}</span>
        </dd>
        <dt><span >Telefone</span></dt>
        <dd>
            <span>{{vm.regional.telefone}}</span>
        </dd>
        <dt><span >Logradouro</span></dt>
        <dd>
            <span>{{vm.regional.logradouro}}</span>
        </dd>
        <dt><span >Numero</span></dt>
        <dd>
            <span>{{vm.regional.numero}}</span>
        </dd>
        <dt><span >Bairro</span></dt>
        <dd>
            <span>{{vm.regional.bairro}}</span>
        </dd>
        <dt><span >Cidade</span></dt>
        <dd>
            <span>{{vm.regional.cidade}}</span>
        </dd>
        <dt><span >UF</span></dt>
        <dd>
            <span>{{vm.regional.uf}}</span>
        </dd>
        <dt><span >Cep</span></dt>
        <dd>
            <span>{{vm.regional.cep}}</span>
        </dd>        
    </dl>

    <button type="submit"
            ui-sref="regional"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="regional-detail.edit({id:vm.regional.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    <button type="submit"
            ui-sref="regional.delete({id:vm.regional.id})"
            class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
    </button>

    <!--p/><p/>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-change="vm.changeconcurso()">

            </select>
        </div>
    </div>            
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >id</th>
                <th >Tipo </th>
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th> Regional </th>
                <th></th>                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['-concursoId', 'id', 'bilheteInicial']  track by lotebilhete.bilheteInicial"
                ng-class="{'enfase-primeira-linha-grupo-tabela': (lotebilhete.rowspan!=0), 'enfase-primeira_linha_toda-tabela': $index == 0}"
                >

                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.concurso.label}}</td>
                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.id}} </td>
                <td>{{lotebilhete.tipo.label}}</td>
                <td>{{lotebilhete.bilheteInicial}}</td>
                <td >{{lotebilhete.bilheteFinal}}</td>
                <td >{{lotebilhete.quantidade}}</td>
                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.regional.nome}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                   ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div-->             
</div>
