
<form name="vm.editForm" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRegionalLabel" data-translate="sorteioApp.regional.home.createOrEditLabel">Create or edit a Regional</h4>
    </div>
      <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
    <input id="password" style="display:none" type="password" name="fakepasswordremembered">
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" ng-show="vm.passwordDoNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="form-group" ng-show="vm.regional.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.regional.id" readonly />
        </div>
        <div class="row">
            <div class="col-md-5 ">
                <div class="form-group">
                    <label class="control-label" for="field_nome">Nome da Regional<span style="color:red">*</span></label>
                    <input type="text" class="form-control uppercase" name="nome" id="field_nome"
                           ng-model="vm.regional.nome" ng-maxlength=100 required />
                    <div ng-show="vm.editForm.nome.$dirty && vm.editForm.nome.$invalid">
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.required" >
                            O campo nome é obrigatório.
                        </p>
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.minlength" >
                            O campo nome deve ter pelo menos 1 caracter.
                        </p>
                        <p class="help-block"
                           ng-show="vm.editForm.nome.$error.maxlength" >
                            O campo nome deve ter no máximo 100 caracteres.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">         
                <div class="form-group">
                    <label for="field_regiao">Região</label>
                    <select class="form-control" id="field_regiao" name="re" ng-model="vm.regional.regiaoId"
                    ng-options="re.id as re.nome for re in vm.regioes " >
                        <option value=""></option>
                    </select>
                </div>
            </div>            

            <div class="col-md-1" ng-hide="vm.comissaoProgressiva">
                <div class="form-group">
                    <label class="control-label" for="field_percentualrepasse">Comissão(%)<span style="color:red">*</span></label>
                    <input type="number" class="form-control" name="percentualRepasse" id="field_percentualrepasse"
                            ng-model="vm.regional.percentualRepasse" ng-required="{{!vm.comissaoProgressiva}}"
                            />
                </div>
            </div>

             <div class="col-md-2 ">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                       <label for="field_situacao"><input  type="checkbox" id="field_situacao"  name="situacao"
                       ng-model="vm.regional.ativo"  >Situação Ativa</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label" for="field_cpf">CPF<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                            ng-model="vm.regional.cpf" required  />
                    <div ng-show="vm.editForm.cpf.$dirty && vm.editForm.cpf.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.required" >
                            O campo cpf é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.minlength" >
                            O campo cpf deve ter 11 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cpf.$error.maxlength" >
                            O campo cpf não pode ter mais de 12 caracteres.
                        </p>
                    </div>
                </div>
             </div>
            <div class="col-md-8 ">
                <div class="form-group">
                    <label class="control-label" for="field_responsavel">Nome do Responsável<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="responsavel" id="field_responsavel"
                           ng-model="vm.regional.responsavel" ng-minlength=2 ng-maxlength=64 required
                    />
                    <div ng-show="vm.editForm.responsavel.$dirty && vm.editForm.responsavel.$invalid">
                        <p class="help-block"
                           ng-show="vm.editForm.responsavel.$error.minlength" >
                            O campo responsavel deve ter pelo menos 2 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="vm.editForm.responsavel.$error.maxlength" >
                            O campo responsavel deve ter no máximo 64 caracteres.
                        </p>
                    </div>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label class="control-label" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                            ng-model="vm.regional.telefone" ng-minlength=6 ng-maxlength=16
                            />
                    <div ng-show="vm.editForm.telefone.$dirty && vm.editForm.telefone.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.telefone.$error.minlength" >
                            O campo telefone deve ter pelo menos 6 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.telefone.$error.maxlength" >
                            O campo telefone deve ter no máximo 16 caracteres.
                        </p>
                    </div>
                </div>
             </div>
             <div class="col-md-8 ">
                <div class="form-group">
                    <label class="control-label" for="field_email" data-translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="field_email" name="email"
                           ng-model="vm.regional.email" ng-minlength=5 ng-maxlength=100 >
                    <div ng-show="vm.editForm.email.$dirty && vm.editForm.email.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.email.$error.required" >
                            O campo email é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.email.$error.minlength" >
                            O campo email deve ter no mínimo 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.email.$error.maxlength" >
                            O campo email deve ter no máximo 100 caracteres.
                        </p>
                    </div>
                </div>
             </div>
         </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="usuario" data-translate="global.form.username">Username</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" 
                            placeholder="{{'global.form.username.placeholder' | translate}}"
                            ng-model="vm.regional.login" ng-minlength=1 ng-maxlength=50 
                            ng-pattern="/^[A-Za-z]*$/" autocomplete="nope">
                    <div ng-show="vm.editForm.usuario.$dirty && vm.editForm.usuario.$invalid">
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.required" >
                            O campo login é obrigatório.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.minlength" >
                            O campo login deve ter ao menos 1 caracter.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.maxlength" >
                            O campo login deve ter no máximo 50 caracteres.
                        </p>
                        <p class="help-block"
                                ng-show="vm.editForm.usuario.$error.pattern" >
                            O campo login deve ter somente letras.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="senha" data-translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="senha" name="senha" 
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="vm.regional.senha" ng-minlength=4 ng-maxlength=50 autocomplete="new-password">
                    <div ng-show="vm.editForm.senha.$dirty && vm.editForm.senha.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.required" >
                            O campo senha é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.minlength" >
                            O campo senha deve ter ao menos 4 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.senha.$error.maxlength" >
                            O campo senha deve ter no máximo 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.regional.senha"></password-strength-bar>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmaSenha" ng-minlength=4 ng-maxlength=50>
                    <div ng-show="vm.editForm.confirmPassword.$dirty && vm.editForm.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.required" >
                            O campo de confirmação de senha é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.minlength" >
                            O campo de confirmação de senha deve ter ao menos 4 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.confirmPassword.$error.maxlength" >
                            O campo de confirmação de senha deve ter no máximo 50 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ">
                <div class="form-group">
                    <label class="control-label" for="field_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                            ng-model="vm.regional.logradouro" ng-minlength=3 ng-maxlength=128
                            />
                    <div ng-show="vm.editForm.logradouro.$dirty && vm.editForm.logradouro.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.logradouro.$error.minlength" >
                            O campo logradouro deve ter pelo menos 3 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.logradouro.$error.maxlength" >
                            O campo logradouro deve ter no máximo 128 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group">
                    <label class="control-label" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                            ng-model="vm.regional.numero" ng-min=1 ng-max=100000
                            />
                    <div ng-show="vm.editForm.numero.$dirty && vm.editForm.numero.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.numero.$error.maxlength" >
                            O campo numero deve ter no máximo 8 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro"
                            ng-model="vm.regional.bairro" ng-maxlength=32
                            />
                    <div ng-show="vm.editForm.bairro.$dirty && vm.editForm.bairro.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.bairro.$error.maxlength" >
                            O campo bairro deve ter no máximo 32 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                            ng-model="vm.regional.cidade" ng-maxlength=32
                            />
                    <div ng-show="vm.editForm.cidade.$dirty && vm.editForm.cidade.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.cidade.$error.maxlength" >
                            O campo cidade deve ter no máximo 32 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label uppercase" for="field_uf">UF</label>
                    <input type="text" class="form-control" name="uf" id="field_uf"
                            ng-model="vm.regional.uf" ng-maxlength=2
                            />
                    <div ng-show="vm.editForm.uf.$dirty && vm.editForm.uf.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.uf.$error.maxlength" >
                            O campo UF deve ter no máximo 2 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="field_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_cep"
                            ng-model="vm.regional.cep" ng-minlength=8 ng-maxlength=8
                            />
                    <div ng-show="vm.editForm.cep.$dirty && vm.editForm.cep.$invalid">
                        <p class="help-block"
                               ng-show="vm.editForm.cep.$error.minlength" >
                            O campo cep deve ter 8 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="vm.editForm.cep.$error.maxlength" >
                            O campo cep deve ter 8 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled=" vm.editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
