<form name="deleteForm" ng-submit="vm.confirmDelete()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" >Confirmação da exclusão do Lote de venda {{vm.idlote}} do concurso {{vm.concurso.label}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert> 
        <p >Você realmente deseja remover este lote de venda para o estabelecimento?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
