<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">            
                <h2 >Lotes Estabelecimentos de Venda</h2>                
            </div>    
            <!--div class="col-xs-4 no-padding-left">
                <br>
                <button class="btn btn-primary" ng-click="vm.transitonTo('lote-estabelecimento.new', {idconcurso: vm.filtro.concurso, idregional: vm.filtro.regional})"  >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  >
                        Cria novo lote para Estabelecimento de Venda
                    </span>
                </button>
            </div-->
        </div>
    </div>
    <jhi-alert></jhi-alert>    
    <br/>
    <br/>
   <div class="panel panel-default">
        <div class="panel-heading">  <h3 class="panel-title">Filtro</h3> </div>
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-5 "> 
                    <label for="field_concurso">Concurso</label>
                    <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
                    ng-options="concurso as concurso.label for concurso in vm.concursos "
                    ng-change="vm.changeconcurso()">
                    </select>
                </div>       
            </div>                      
            <div class="row" >             
                <div class="col-md-8 "> 
                    <div class="form-group">
                        <label for="field_regional">Regional</label>
                        <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regionalId"
                        ng-options="regional.id as regional.nome for regional in vm.regionais " >
                            <option value=""></option>
                        </select>
                    </div> 
                </div>                        
                <div class="col-md-3 form-group">
                    <br>
                    <button class="btn btn-primary" ng-click="vm.limparFiltro()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span >Limpar</span>
                    </button>            
                    <button class="btn btn-primary" ng-click="vm.filtrar()">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span >Filtrar</span>
                    </button>
                </div>    
            </div>    
        </div>
    </div>    

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>                
                <th >Lote Regional </th>
                <th >Lote Venda </th>                
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th> Regional </th>
                <th> Estabelecimento </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['-concursoId', 'id', 'bilheteInicial']  track by lotebilhete.bilheteInicial"
                ng-class="{'enfase-primeira-linha-grupo-tabela': (lotebilhete.rowspan!=0), 'enfase-primeira_linha_toda-tabela': $index == 0}"
                >
                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.concurso.label}}</td>
                <td>{{lotebilhete.loteRegionalId}}</td>
                <td>{{lotebilhete.id}}</td>
                <td>{{lotebilhete.bilheteInicial}}</td>
                <td >{{lotebilhete.bilheteFinal}}</td>
                <td >{{lotebilhete.quantidade}}</td>
                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.regional.nome}}</td>
                <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0'>{{lotebilhete.estabelecimento.nome}}</td>
                 <td rowspan='{{lotebilhete.rowspan}}' ng-show='lotebilhete.rowspan!=0' class="text-right">
                    <button type="submit"
                            ng-click="vm.transitonTo('lote-estabelecimento.changeowner', {idconcurso:lotebilhete.concurso.id, idlote:lotebilhete.id, idregional:lotebilhete.regional.id, idestabelecimento: lotebilhete.estabelecimento.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ng-click="vm.transitonTo('lote-estabelecimento.delete', {concurso:lotebilhete.concurso, idlote:lotebilhete.id})"
                            class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                    </button>                                                                      
                    </div>
                </td>                
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                      ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>        
</div>
