
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mygrupolancamentoLabel" >Criar ou atualizar Grupo de Lançamento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row" >
            <div class="col-md-3 form-group" class="form-group" ng-show="vm.grupolancamento.id">
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.grupolancamento.id" readonly />
                </div>
            <div class="col-md-9 form-group">
                <label for="field_tipo">Tipo Operação<span style="color:red">*</span></label>
                <select class="form-control" id="field_tipo" name="tipo" ng-model="vm.grupolancamento.tipoOperacao"
                ng-options="tipo as tipo.nome for tipo in vm.tiposOperacao track by tipo.id" 
                required>
                </select>
            </div>                
            <div class="col-md-9 form-group">
                <label class="control-label" for="field_nome">Nome<span style="color:red">*</span></label>
                <input class="form-control" name="nome" id="field_nome"
                        ng-model="vm.grupolancamento.nomeGrupo" required
                        />
            </div>
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
