<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 >Grupos de Lançamentos</h2>
            </div>
            <div class="col-xs-4 no-padding-left">
                <br>
                <button class="btn btn-primary" ui-sref="grupolancamento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Cria novo Grupo Lançamento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id">ID Grupo de Lançamento <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoOperacao.nome">Tipo Operação<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomeGrupo">Nome Grupo<span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="grupo in vm.gruposlancamento | orderBy : ['nomeGrupo'] track by grupo.id ">
                    <td>{{grupo.id}}</td>
                    <td>{{grupo.tipoOperacao.nome}}</td>
                    <td>{{grupo.nomeGrupo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button 
                            ng-click="vm.transitonTo('grupolancamento.edit', {id: grupo.id, nomeGrupo: grupo.nomeGrupo, tipoOperacaoId: grupo.tipoOperacao.id} )"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button 
                                    ng-click="vm.transitonTo('grupolancamento.delete',{id:grupo.id})"
                                    class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                      ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>        
</div>
