<div>
    <h2 data-translate="sorteioApp.regiao.home.title">Regiaos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="regiao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sorteioApp.regiao.home.createLabel">
                        Create new Regiao
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="sorteioApp.regiao.nome">Nome</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="regiao in vm.regiaos track by regiao.id">
                    <td><a ui-sref="regiao-detail({id:regiao.id})">{{regiao.id}}</a></td>
                    <td>{{regiao.nome}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="regiao.edit({id:regiao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="regiao.delete({id:regiao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
