<nav class="navbar navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="{{'content/images/'+vm.applogo }}" alt="logo" />
                <span>&nbsp;{{vm.appname}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer"
                    has-any-authority="PERM_CADASTRO_REGIONAL,PERM_CADASTRO_ESTABELECIMENTO,PERM_CADASTRO_LANCAMENTO,PERM_CADASTRO_GRUPO_LANCAMENTO,PERM_CONSULTAR_REGIONAL,PERM_CONSULTAR_ESTABELECIMENTO">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-any-authority="PERM_CADASTRO_REGIONAL,PERM_CONSULTAR_REGIONAL">
                            <a ui-sref="regiao" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.regiao">Regiao</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CADASTRO_REGIONAL,PERM_CONSULTAR_REGIONAL">
                            <a ui-sref="regional" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.regional">Regional</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CADASTRO_AREA_REGIONAL">
                            <a ui-sref="arearegional" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Subregional (Área)</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"
                            has-any-authority="PERM_CADASTRO_ESTABELECIMENTO,PERM_CONSULTAR_ESTABELECIMENTO">
                            <a ui-sref="estabelecimento" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.estabelecimento">Estabelecimento</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CADASTRO_GRUPO_LANCAMENTO">
                            <a ui-sref="grupolancamento" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                Grupo Lançamento
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CADASTRO_LANCAMENTO">
                            <a ui-sref="lancamento" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                Lançamentos
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_EDICAO_COMISSOES"
                            ng-show="vm.comissaoProgressiva">
                            <a ui-sref="comissao" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                Comissões
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-switch-when="true" uib-dropdown class="dropdown pointer"
                    has-any-authority="PERM_GERACAO_CONCURSO,PERM_CONFECCAO_LOTES,PERM_VALIDAR_BILHETES, PERM_CADASTRO_ESTABELECIMENTO">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="bilhete-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Bilhetes
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-any-authority="PERM_EDICAO_CONCURSO">
                            <a ui-sref="concurso" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Concursos não sincronizados</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CONFECCAO_LOTES">
                            <a ui-sref="distribuicao-bilhetes" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Distribuicao Bilhetes</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CONFECCAO_LOTES">
                            <a ui-sref="distribuicao-selos" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Distribuicao Selos</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="distribuicao-bilhetes-online" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Distribuição Bilhetes Online</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CONFECCAO_LOTES">
                            <a ui-sref="historico-distribuicao-bilhete" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Histórico Distribuicao Bilhetes</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CONFECCAO_LOTES">
                            <a ui-sref="historico-distribuicao-selo" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Histórico Distribuicao Selos</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" has-any-authority="PERM_DISTRIBUICAO_ESTABELECIMENTO">
                            <a ui-sref="status-bilhetes-dist" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Consulta Estado Bilhetes Distribuídos</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_DISTRIBUICAO_ESTABELECIMENTO">
                            <a ui-sref="status-lotesvalidacao" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Consulta Total Lotes Validação</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_CONFECCAO_LOTES">
                            <a ui-sref="status-bilhetes" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Consulta Estado de um Bilhete</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-switch-when="true" uib-dropdown class="dropdown pointer"
                    has-any-authority="PERM_REL_LANCAMENTO,PERM_REL_DIST_REGIONAIS,PERM_REL_DIST_REGIONAIS_SEM_EST,PERM_REL_DIST_ESTABELECIMENTO,PERM_REL_REG_EST_ENDERECO,PERM_REL_FINANCEIRO">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="consulta-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Relatórios
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_DIST_REGIONAIS">
                            <a ui-sref="relatorio-distribuicao-lote-regional" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Distribuição Regional</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_DIST_REGIONAIS">
                            <a ui-sref="relatorio-distribuicao-sub-regional" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Distribuição Sub Regional</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_DIST_REGIONAIS_SEM_EST">
                            <a ui-sref="relatorio-distribuicao-regional-sem-estabelecimento"
                                ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Dist. Regional Sem Estabelecimento</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_DIST_ESTABELECIMENTO">
                            <a ui-sref="relatorio-distribuicao-lote-estabelecimento" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Distribuição Estabelecimento</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_REG_EST_ENDERECO">
                            <a ui-sref="relatorio-regional-estabelecimento-endereco" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Regional/Estabelecimento Endereço</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_VISUALIZ_TOTALIZACAO">
                            <a ui-sref="relatorio-totalizacao-regional" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Totalização Regional</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_FINANCEIRO">
                            <a ui-sref="relatorio-regional-bilhete-online" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Totalização das Regionais por Tipo</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_FINANCEIRO, ROLE_AREA_REGIONAL">
                            <a ui-sref="relatorio-totalizacao-estabelecimentos" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Totalização Estabelecimentos / Área</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"
                            has-any-authority="PERM_REL_FINANCEIRO, PERM_REL_DIST_ESTABELECIMENTO">
                            <a ui-sref="relatorio-estabelecimento-bilhete-online" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Totalização dos Estabelecimentos por Tipo</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="PERM_REL_LANCAMENTO">
                            <a ui-sref="relatorio-totalizacao-lancamento" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Totalização Lançamentos</span>
                            </a>
                        </li>

                    </ul>



                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <!--li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li-->
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true"
                    has-authority="PERM_CADASTRO_USUARIOS" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="PERM_CADASTRO_USUARIOS">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.admin.tracker">User tracker</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active" has-any-authority="ROLE_SYSTEM">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer"
                    ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language |
                                findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>