<div class="row">
  <div class="container">
    <div class="col-md-2">
      <div><strong>Concurso</strong></div>
      <div>{{vm.bilhete[0][0]}}</div>
    </div>
    <div class="col-md-2">
      <div><strong>Identificador</strong></div>
      <div>{{vm.bilhete[0][1]}}</div>
    </div>
    <div class="col-md-4">
      <div><strong>1º Chance</strong></div>
      <div>{{vm.bilhete[0][2]}}</div>
    </div>
    <div class="col-md-4">
      <div><strong>2º Chance</strong></div>
      <div>{{vm.bilhete[0][3]}}</div>
    </div>
  </div>
</div>