<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 data-translate="sorteioApp.concurso.home.title">Concursos</h2>
            </div>
            <div class="col-xs-4 no-padding-left">
                <br>
                <button class="btn btn-primary" ui-sref="concurso.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Cria novo Concurso
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id">ID Concurso <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataSorteio"><span >Data Sorteio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataFimVigencia"><span data-translate="sorteioApp.concurso.dataFimVigencia">Data Fim Vigencia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th>Sincronizado</th>                    
                    <th>Quantidade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="concurso in vm.concursos | orderBy : ['-numSorteio'] track by concurso.id ">
                    <td><a ui-sref="concurso-detail({id:concurso.id})">{{concurso.label}}</a></td>
                    <td>{{concurso.dataSorteio | date : 'dd/MM/yyyy'}}</td>
                    <td>{{concurso.dataFimVigencia | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{concurso.sincronizado}}</td>
                    <td>{{concurso.quantidadeBilhetes}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="concurso-detail({id:concurso.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="concurso.geracao({id:concurso.id, conclabel: concurso.label})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon glyphicon-cog"></span>
                                <span class="hidden-sm-down" >Gerar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
