
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="geracaoLabel" >Geração de Bilhetes para concurso {{vm.geracao.concurso.tipo.label}} {{vm.geracao.concurso.label}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
        <div class="col-md-10 form-group">
            <label for="field_quantidade">Quantidade<span style="color:red">*</span></label>
                <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                        ng-model="vm.geracao.quantidade"
                        />
        </div>
        <div class="col-md-2 form-group"></div>
          <label for="field_online">Online</label>

          <input type="checkbox" id="field_online" ng-model="vm.geracao.online">
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
