
<div>
    <h2><span data-translate="sorteioApp.concurso.detail.title">Concurso</span> {{vm.concurso.label}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">

        <div class="row">
            <div class="col-md-6 ">
                <dt><span data-translate="sorteioApp.concurso.dataInicioVigencia">Data Inicio Vigencia</span></dt>
                <dd>
                    <span>{{vm.concurso.dataInicioVigencia | date:'mediumDate'}}</span>
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <dt><span data-translate="sorteioApp.concurso.dataFimVigencia">Data Fim Vigencia</span></dt>
                <dd>
                    <span>{{vm.concurso.dataFimVigencia | date:'mediumDate'}}</span>
                </dd>
            </div>
        </div>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <br/><br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th >Tipo </th>
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th >Online</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lotebilhete in vm.concurso.lotebilhetes | orderBy: 'bilheteInicial' track by lotebilhete.bilheteInicial">
                <td>{{lotebilhete.tipo.label}}</td>
                <td>{{lotebilhete.bilheteInicial}}</td>
                <td>{{lotebilhete.bilheteFinal}}</td>
                <td>{{lotebilhete.quantidade}}</td>
                <td>{{true == lotebilhete.online ? 'Sim' : 'Não' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
