
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConcursoLabel" data-translate="sorteioApp.concurso.home.createOrEditLabel">Create or edit a Concurso</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.concurso.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.concurso.id" readonly />
        </div>
        <div class="row" ng-hide="vm.concurso.id">
            <div class="col-md-3 form-group">
                <label class="control-label" for="field_ano">Ano<span style="color:red">*</span></label>
                <input type="number" class="form-control" name="ano" id="field_ano"
                        ng-model="vm.concurso.ano" required ng-min=2018 ng-max=2027
                        />
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label" for="field_numsorteio">Num.Sorteio<span style="color:red">*</span></label>
                <input type="number" class="form-control" name="numSorteio" id="field_numsorteio"
                        ng-model="vm.concurso.numSorteio" required ng-min=1 ng-max=999
                        />
            </div>        
            
            <div class="col-md-3 ">
                <div class="form-group">
                    <label></label>
                    <div class="checkbox">
                       <label for="field_duplachance"><input  type="checkbox" id="field_duplachance"  name="duplachance"
                       ng-model="vm.concurso.duplaChance"  >Dupla Chance</label>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                    <label class="control-label" for="field_limiteFaixaComissaoRegional1">2a. Faixa Comissão Reg.</label>
                    <input type="number" class="form-control" name="limiteFaixaComissaoRegional1" id="field_limiteFaixaComissaoRegional1"
                            ng-model="vm.concurso.limiteFaixaComissaoRegional1" required 
                            />
                </div>       
                
                <div class="col-md-3 form-group">
                    <label class="control-label" for="field_limiteFaixaComissaoEstabelecimento1">2a. Faixa Comissão Est.</label>
                    <input type="number" class="form-control" name="limiteFaixaComissaoEstabelecimento1" id="field_limiteFaixaComissaoEstabelecimento1"
                            ng-model="vm.concurso.limiteFaixaComissaoEstabelecimento1" required 
                            />
                </div>       
                
                <div class="col-md-3 form-group">
                    <label class="control-label" for="field_limiteFaixaComissaoEstabelecimento2">3a. Faixa Comissão Est.</label>
                    <input type="number" class="form-control" name="limiteFaixaComissaoEstabelecimento2" id="field_limiteFaixaComissaoEstabelecimento2"
                            ng-model="vm.concurso.limiteFaixaComissaoEstabelecimento2" required 
                            />
                </div>       
    
        </div>
        <div class="row">
            <div class="col-md-3 form-group" >
                <label class="control-label" for="field_dataSorteio">Data Sorteio<span style="color:red">*</span></label>
                    <div class="input-group">
                        <input id="field_dataSorteio" type="text" class="form-control" name="dataSorteio" uib-datepicker-popup ng-model="vm.concurso.dataSorteio" is-open="vm.datePickerOpenStatus.dataSorteio"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataSorteio')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
            </div>
            <div class="col-md-3 form-group">
                <label for="field_tipo">Tipo<span style="color:red">*</span></label>
                <select class="form-control" id="field_tipo" name="tipo" ng-model="vm.concurso.tipo"
                        ng-options="tipo as (tipo.label +' R$'+tipo.valor) for tipo in vm.tipos track by tipo.id">
                </select>
            </div>
            <div class="col-md-3 form-group">
                    <label class="control-label" for="field_qtdpremios">Qtd. Premios</label>
                    <input type="number" class="form-control" name="qtdpremios" id="field_qtdpremios"
                            ng-change="vm.changeQtdPremios()" ng-model="vm.concurso.quantidadePremios" required 
                            />
                </div>                   
        </div>
        <div class="row">
                   
            <div class="col-md-2 form-group" ng-hide="!vm.concurso.quantidadePremios || vm.concurso.quantidadePremios < 1">
                <label class="control-label" for="field_premio1">Premio 1</label>
                    <div class="input-group">
                        <input id="field_premio1" type="text" class="form-control" name="premio1" ng-model="vm.concurso.premio1" />
                    </div>
            </div>
            <div class="col-md-2 form-group" ng-hide="!vm.concurso.quantidadePremios || vm.concurso.quantidadePremios < 2">
                <label class="control-label" for="field_premio2">Premio 2</label>
                    <div class="input-group">
                        <input id="field_premio2" type="text" class="form-control" 
                        name="premio2" ng-model="vm.concurso.premio2" />
                    </div>
            </div>
            <div class="col-md-2 form-group" ng-hide="!vm.concurso.quantidadePremios || vm.concurso.quantidadePremios < 3">
                <label class="control-label" for="field_premio3">Premio 3</label>
                    <div class="input-group">
                        <input id="field_premio3" type="text" class="form-control" 
                        name="premio3" ng-model="vm.concurso.premio3" />
                    </div>
            </div>
            <div class="col-md-2 form-group" ng-hide="!vm.concurso.quantidadePremios || vm.concurso.quantidadePremios < 4">
                <label class="control-label" for="field_premio4">Premio 4</label>
                    <div class="input-group">
                        <input id="field_premio4" type="text" class="form-control" 
                        name="field_premio4" ng-model="vm.concurso.premio4" />
                    </div>
            </div>
            <div class="col-md-2 form-group" ng-hide="!vm.concurso.quantidadePremios || vm.concurso.quantidadePremios < 5">
                <label class="control-label" for="field_premio5">Premio 5</label>
                    <div class="input-group">
                        <input id="field_premio5" type="text" class="form-control" 
                        name="premio5" ng-model="vm.concurso.premio5" />
                    </div>
            </div>

        </div>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
