<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <h2 data-translate="sorteioApp.concurso.home.title">Concursos Não Sincronizados</h2>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id">ID Concurso <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataSorteio"><span >Data Sorteio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th>Premio 1</th>
                    <th>Premio 2</th>
                    <th>Premio 3</th>
                    <th>Premio 4</th>
                    <th>Premio 5</th>                                                            
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="concurso in vm.concursos | orderBy : ['-numSorteio'] track by concurso.id ">
                    <td>{{concurso.label}}</td>
                    <td>{{concurso.dataSorteio | date : 'dd/MM/yyyy'}}</td>
                    <td>{{concurso.premio1}}</td>
                    <td>{{concurso.premio2}}</td>
                    <td>{{concurso.premio3}}</td>
                    <td>{{concurso.premio4}}</td>
                    <td>{{concurso.premio5}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ng-hide="concurso.sincronizado"
                            ui-sref="concurso-edit({id:concurso.id})" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                            </button>                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
