<div>
    <h2><span>Distribuição Estabelecimento</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
                ng-options="regional as regional.nome for regional in vm.regionais track by regional.id"
                ng-change="vm.changeregional()">
                <option value="">Nenhuma Regional</option>
            </select>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="field_area">Subregional (Área)</label>
                <select ng-disabled="vm.disabledArea" class="form-control" id="field_area" name="area" ng-model="vm.filtro.area"
                    ng-options="area as area.nome for area in vm.areasregional | orderBy: [nome]">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <label for="field_estabelecimento">Estabelecimento</label>
            <select class="form-control" id="field_estabelecimento" name="estabelecimento"
                ng-model="vm.filtro.estabelecimento"
                ng-options="estabelecimento as estabelecimento.nome for estabelecimento in vm.estabelecimentos track by estabelecimento.id"
                tabindex="4" ng-change="vm.changeestabelecimento()">
                <option value=""></option>
            </select>
        </div>
        
        <div class="col-md-3 ">
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="vm.search()">
                    <span class="glyphicon glyphicon-search">&nbsp;Buscar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                    <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="progress" ng-show="vm.requesting">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100" style="width:100%">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <br /><br />
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th>Concurso </th>
                    <th>Número Inicial </th>
                    <th>Número Final</th>
                    <th>Quantidade</th>
                    <th>Estabelecimento</td>
                    <th> Área</th>
                    <th> Regional </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['-concursoId', 'id', 'bilheteInicial']  track by lotebilhete.identificacaoInicial">
                    <td>{{lotebilhete.concurso.id}}</td>
                    <td>{{lotebilhete.identificacaoInicial}}</td>
                    <td>{{lotebilhete.identificacaoFinal}}</td>
                    <td>{{(lotebilhete.numFinal - lotebilhete.numInicial) + 1}}</td>
                    <td>{{lotebilhete.estabelecimento}}</td>
                    <td>{{lotebilhete.area}}</td>
                    <td>{{lotebilhete.regional}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
            items-per-page="vm.itemsPerPage" ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div-->
</div>