<div>
    <h2><span >Distribuição Sub-Regional</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label for="field_subregional">SubRegional</label>
            <select ng-disabled="vm.disabledArea" class="form-control" id="field_regional" name="subregional" ng-model="vm.filtro.subregional"
            ng-options="subregional as subregional.nome for subregional in vm.subregionais track by subregional.id" 
            ng-change="vm.changeregional()" >
                <option value="">Nenhuma Regional</option>            
            </select>
        </div>
        <div class="col-md-3 ">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="vm.loadAll()">
                                <span class="glyphicon glyphicon-search">&nbsp;Buscar</span>
                            </button>
                        <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>        
    </div>
    <div class="row">
        <div class="col-md-4">        
            <div class="progress" ng-show="vm.requesting">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                </div>
            </div> 
            </div>
        <div class="col-md-4">
            <br/><br/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th> Sub-Regional </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, lotebilhete) in vm.distribuicaoBilhetes | orderBy : ['-concurso', 'area', 'identificacaoInicial']  track by lotebilhete.identificacaoInicial"
                ng-class="{'enfase-primeira-linha-grupo-tabela': (lotebilhete.rowspan!=0), 'enfase-primeira_linha_toda-tabela': $index == 0}"
                >
                <td >{{lotebilhete.concurso.id}}</td>
                <td>{{lotebilhete.identificacaoInicial}}</td>
                <td >{{lotebilhete.identificacaoFinal}}</td>
                <td >{{(lotebilhete.numFinal - lotebilhete.numInicial) + 1}}</td>
                <td >{{lotebilhete.area}}</td>             
            </tr>
            </tbody>
        </table>
    </div>
</div>
