
<div>
    <h2><span >Distribuição Regional Sem Estabelecimento</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >
                <option value="">Nenhuma Regional</option>
            </select>
        </div>            
        <div class="col-md-3 ">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="vm.search()">
                                <span class="glyphicon glyphicon-search">&nbsp;Buscar</span>
                            </button>
                        <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>          
    </div>
    <div class="row">
            <div class="col-md-4">        
                <div class="progress" ng-show="vm.requesting">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div> 
                </div>
            <div class="col-md-4">
                <br/><br/>
            </div>
        </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Concurso </th>
                <th >Número Inicial </th>
                <th >Número Final</th>
                <th >Quantidade</th>
                <th> Regional </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['-concursoId', 'id', 'bilheteInicial']  track by lotebilhete.bilheteInicial"
                ng-class="{'enfase-primeira-linha-grupo-tabela': (lotebilhete.rowspan!=0), 'enfase-primeira_linha_toda-tabela': $index == 0}"
                >
                <td >{{lotebilhete.concurso.label}}</td>
                <td >{{lotebilhete.bilheteInicial}}</td>
                <td >{{lotebilhete.bilheteFinal}}</td>
                <td >{{lotebilhete.quantidade}}</td>
                <td >{{lotebilhete.regional.nome}}</td>             
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                    ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
        </div>       
</div>
