<div>
    <h2><span >Totalização dos Estabelecimentos por Tipo</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-4 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" ng-disabled="vm.regionais.length == 1" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >
                <!--option value="">Nenhuma Regional</option-->
            </select>
        </div>
        <div class="col-md-4 ">         
                <div class="form-group">
                    <label for="field_area">Subregional (Área)</label>
                    <select ng-disabled="vm.disabledFiledArea" class="form-control" id="field_area" name="area" ng-model="vm.filtro.area"
                    ng-options="area as area.nome for area in vm.areasregional | orderBy: [nome]" 
                    ng-change="vm.changearea()">
                        <option value=""></option>
                    </select>
                </div>
        </div>                    
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="checkbox" id="field_estabelecimento" name="estabelecimento_online" ng-model="vm.filtro.isOnline" ng-change="vm.loadAll()">
                <label for="field_estabelecimento">Somente Est. Online</label>
            </div>
        </div> 
    </div>
    
    <div class="panel-body">
        <br/>
        <div class="table-responsive" ng-if="vm.resultados.length >= 1">
            <table class="jh-table table table-striped">
                <thead>
                    <tr ng-show="vm.resultados.length >= 1">
                        <th>Estabelecimento</th>
                        <th class="reg-bil-on">Bilhetes Distribuidos</th>
                        <th class="reg-bil-on">Validados Bilhete</th>
                        <th class="reg-bil-on">Distribuídos Online</th>
                        <th class="reg-bil-on">Validados Online</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(idx, resultado) in vm.resultados ">
                        <td>{{ resultado.nome }}</td>
                        <td class="reg-bil-on">{{ resultado.bilhetesDistribuidos }}</td>
                        <td class="reg-bil-on">{{ resultado.bilhetesValidados }}</td>
                        <td class="reg-bil-on">{{ resultado.bilhetesDistribuidosOnline }}</td>
                        <td class="reg-bil-on">{{ resultado.validados_on }}</td>
                    </tr>
                    <tr ng-show="vm.resultados.length >= 1">
                        <td class="reg-bil-on"><b>Total</b></td>
                        <td class="reg-bil-on"><b>{{vm.totalBilhetesDistribuidos}}</b></td>
                        <td class="reg-bil-on"><b>{{vm.totalValidadosBilhete}}</b></td>
                        <td class="reg-bil-on">{{vm.totalDistribuidosOnline}}</td>
                        <td class="reg-bil-on"><b>{{vm.totalValidadosOnline}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="vm.resultados.length == 0 && vm.filtro.regional.id != null">
            <hr/>
            <p>Nenhum Resultado!</p>
        </div>
    </div>

</div>