
<div>
    <h2><span >Totalização das Regionais por Tipo</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
            
        </select>
        </div>
        <div class="col-md-5 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id"
            ng-change="vm.changeregional()" >
                <!--option value="">Todas Regionais</option-->
            </select>
        </div>
    </div>
    <div class="panel-body">
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr ng-show="vm.resultados.length >= 1">
                        <th>Regional</th>
                        <th class="reg-bil-on">Distribuidos</th>
                        <th class="reg-bil-on">Validados Bilhete</th>
                        <th class="reg-bil-on">Validados Online</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(idx, resultado) in vm.resultados ">
                        <td>{{ resultado.nome }}</td>
                        <td class="reg-bil-on">{{ resultado.distribuidos }}</td>
                        <td class="reg-bil-on">{{ resultado.validados_off }}</td>
                        <td class="reg-bil-on">{{ resultado.validados_on }}</td>
                    </tr>
                    <tr ng-show="vm.resultados.length >= 1">
                        <td class="reg-bil-on"><b>Total</b></td>
                        <td class="reg-bil-on"><b>{{vm.totalDistribuidos}}</b></td>
                        <td class="reg-bil-on"><b>{{vm.totalValidados_off}}</b></td>
                        <td class="reg-bil-on"><b>{{vm.totalValidado_on}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>