
<div>
    <h2><span >Endereços dos Estabelecimentos de uma Regional</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-9 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >
                <option value="">Todas Regionais</option>
            </select>
        </div> 
        <div class="col-md-3 ">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="vm.search()">
                                <span class="glyphicon glyphicon-search">&nbsp;Buscar</span>
                            </button>
                        <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>                          
    </div>
    <br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr >
                <th >Regional </th>
                <th >Nome Fantasia </th>
                <th >Telefone </th>
                <th >Endereço </th>
                <th >Situação </th>                
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="estabelecimento in vm.estabelecimentos track by estabelecimento.id">
                <td >{{estabelecimento.regional.nome}}</td>
                <td >{{estabelecimento.nome}}</td>
                <td >{{estabelecimento.telefone}}</td>
                <td >{{vm.enderecoCompleto(estabelecimento)}}</td>       
                <td>{{estabelecimento.ativo?'Ativo':'Inativo'}}</td>                
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage"
                ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
    </div>        
</div>
