
<div>
    <h2><span >Totalização da Regional</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
            <option value="">Todos Concursos</option>
        </select>
        </div>
        <div class="col-md-5 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >
                <option value="">Todas Regionais</option>
            </select>
        </div>            
        <div class="col-md-2" ng-show="vm.filtro.concurso">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>           
    </div>
    <div class="row" ng-hide="vm.filtro.concurso">
        <div class="col-md-3 form-group">
            <label class="control-label" for="field_dataInicio">Data Início<span style="color:red">*</span></label>
            <div class="input-group">
                <input id="field_dataInicio" type="date" class="form-control" name="dataInicio" uib-datepicker-popup ng-model="vm.filtro.dataInicio" is-open="vm.datePickerOpenStatus.dataInicio"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>                           
        <div class="col-md-3 form-group">
            <label class="control-label" for="field_dataFim">Data Fim<span style="color:red">*</span></label>
            <div class="input-group">
                <input id="field_dataFim" type="date" class="form-control" name="dataFim" uib-datepicker-popup ng-model="vm.filtro.dataFim" is-open="vm.datePickerOpenStatus.dataFim"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataFim')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" title="Buscar" ng-click="vm.loadAll()">
                        <span class="glyphicon glyphicon-search">Filtrar</span>
                    </button>     
                    <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>           
    </div>
    <div class="row">
            <div class="col-md-9">        
                <div class="progress" ng-show="vm.requesting">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                <p ng-show="!vm.requesting">Selecione um concurso e/ou regional.</p> 
            </div>
            <div class="col-md-2" >
                 <br/><br/>
            </div>
        </div>    
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title">
                <b ng-show="vm.filtro.concurso">Totalização de {{vm.filtro.regional?vm.filtro.regional.nome:"Todas Regionais" }} no concurso {{vm.totalizacao[0].concurso.label}} - {{vm.totalizacao[0].concurso.dataSorteio | date : 'dd/MM/yyyy'}} </b>
                <b ng-show="!vm.filtro.concurso && vm.filtro.regional">Histórico de Totalização de {{vm.filtro.regional.nome}}</b>
            </h3>  
        </div>
        <div class="panel-body">
          <br/>
          <div class="table-responsive" >
              <table class="jh-table table table-striped">
                  <thead>
                  <tr ng-show="vm.totalizacao.length>=1">
                      <th ng-show="!vm.filtro.concurso">Concurso </th>
                      <th>Regional </th>
                      <th>#Distr.</th>
                      <th>#Valid.</th>      
                      <th>Valor</th> 
                      <th>Comissão Reg.</th>
                      <th>Comissão Est.</th>                      
                      <th>Faturamento</th>                
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="(idx, totaliz) in vm.totalizacao | orderBy : ['regional.nome'] ">
                    <th ng-show="!vm.filtro.concurso">{{totaliz.concurso.label}} </th>
                      <td> {{totaliz.regional.nome}} </td>
                      <td> {{totaliz.totalDistribuidos}}</td>
                      <td><b> {{totaliz.totalValidados }}</b></td>
                      <td> {{totaliz.valorTotalArrecadado | currency:"R$" }} </td>
                      <td><b> {{totaliz.valorTotalComissao | currency:"R$" }} </b></td>
                      <td><b> {{totaliz.valorTotalComissaoEstabelecimentos | currency:"R$" }} </b></td>                      
                      <td><b> {{totaliz.valorTotalFaturamento | currency:"R$" }} </b></td>                                            
                   </tr>      
                   <tr ng-show="!vm.filtro.regional && !vm.totalizacao[0].lancamentos">  
                        <td><b>Total</b></td>
                        <td><b>{{  vm.sumBy(vm.totalizacao, 'totalDistribuidos') }}</b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, 'totalValidados') }}</b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, 'valorTotalArrecadado') | currency:"R$" }} </b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, 'valorTotalComissao') | currency:"R$" }} </b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, 'valorTotalComissaoEstabelecimentos') | currency:"R$" }} </b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, 'valorTotalFaturamento') | currency:"R$" }} </b></td>                              
                        
                    </tr>      
                    <!--tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
                        <th colspan="6">LancamentoFinanceiro</th>
                        <th>Valor</th>                
                    </tr>                    
                    <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos" ng-repeat="(idx, des) in vm.totalizacao[0].lancamentos | orderBy : ['grupoLancamento.nomeGrupo','descricao']  track by des.id">
                        <td colspan="6"> {{"LancamentoFinanceiro: "+des.grupoLancamento.nomeGrupo + " - " + des.descricao}} </td>
                        <td> {{-1*des.valor | currency:"R$" }} </td>                      
                     </tr>                                           
                     <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
                         <td colspan="6"><b>Total (Receita - Lançamentos)</b></td>
                         <td><b> {{ vm.sumBy(vm.totalizacao, vm.calcComissao) + (-1)*vm.sumBy(vm.totalizacao[0].lancamentos, 'valor') | currency:"R$" }} </b></td>
                     </tr-->
                  </tbody>
              </table>
          </div>    
          <br>
          <div ng-show="vm.filtro.regional && !vm.filtro.concurso && vm.grafico.data" >
            <canvas id="line" class="chart chart-line" chart-data="vm.grafico.data"
            chart-labels="vm.grafico.labels" chart-series="vm.grafico.series" 
             >
          </div>
          <h4 ng-show="vm.filtro.regional && vm.filtro.concurso"><b>Descrição de Receita x Lançamento de {{vm.filtro.regional.nome}} </b></h4>  

          <div class="table-responsive" ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
            <table class="jh-table table table-striped">
                <thead>
                    <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
                        <th colspan="6">Item Financeiro</th>
                        <th>Valor</th>                
                    </tr>
                </thead>
                <tbody>               
                    <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
                        <td colspan="6"><b>Receita: Comissão Bilhetes Validados</b></td>
                        <td><b> {{ vm.sumBy(vm.totalizacao, vm.calcComissao) | currency:"R$" }} </b></td>
                    </tr> 
                    <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos" ng-repeat="(idx, des) in vm.totalizacao[0].lancamentos | orderBy : ['grupoLancamento.nomeGrupo','descricao']  track by des.id">
                        <td colspan="6"> {{"Lançamento: "+des.grupoLancamento.nomeGrupo + " - " + des.descricao}} </td>
                        <td> {{-1*des.valor | currency:"R$" }} </td>                      
                     </tr>                                           
                     <tr ng-show="vm.totalizacao.length==1 && vm.totalizacao[0].lancamentos">
                         <td colspan="6"><b>Total (Receita - Lançamentos)</b></td>
                         <td><b> {{ vm.sumBy(vm.totalizacao, vm.calcComissao) + (-1)*vm.sumBy(vm.totalizacao[0].lancamentos, 'valor') | currency:"R$" }} </b></td>
                     </tr>                                
                </tbody>
            </table>
        </div>        

        </div>
     </div>    
</div>
