
<div>
    <h2><span >Totalização dos Estabelecimentos</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-2 form-group">
            <label for="field_concurso">concurso</label>
            <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.filtro.concurso"
            ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
            ng-init="vm.lotedistribuicao.concurso=vm.concursos[0]" ng-change="vm.changeconcurso()" >
            </select>
        </div>
        <div class="col-md-4 form-group">
            <label for="field_regional">Regional</label>
            <select class="form-control" id="field_regional" name="regional" ng-model="vm.filtro.regional"
            ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" 
            ng-change="vm.changeregional()" >
                <option value="">Nenhuma Regional</option>
            </select>
        </div>
        <div class="col-md-4 ">         
                <div class="form-group">
                    <label for="field_area">Subregional (Área)</label>
                    <select class="form-control" id="field_area" name="area" ng-model="vm.filtro.area"
                    ng-options="area as area.nome for area in vm.areasregional | orderBy: [nome]" 
                    ng-change="vm.changearea()">
                        <option value=""></option>
                    </select>
                </div>
            </div>                    
        <div class="col-md-2">
            <br>
            <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                            <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                        </button>
            </div>
        </div>    
    </div>    
    <div class="row">
        <div class="col-md-4">        
            <div class="progress" ng-show="vm.requesting">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                </div>
            </div> 
            </div>
        <div class="col-md-4">
            <br/><br/>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><b>Totalização dos estabelecimentos da regional {{vm.totalizacao.regional.nome}} no concurso {{vm.totalizacao.concurso.label}} - {{vm.totalizacao.concurso.dataSorteio | date : 'dd/MM/yyyy'}} </b></h3>  
      </div>
      <div class="panel-body">
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr >
                    <th>Estabelecimento</th>
                    <th>Área</th>                    
                    <th>Bairro/Cidade/UF</th>
                    <th>#Distribuição</th>
                    <th>#Validados</th>
                    <th has-authority="PERM_VISUALIZ_TOTALIZACAO">Valor Total</th>
                    <th has-authority="PERM_VISUALIZ_TOTALIZACAO">Comissão</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="totest in vm.totalizacao.totaisEstabelecimentos | orderBy : ['estabelecimento.nome']  track by totest.estabelecimento.id">
                    <td> {{totest.estabelecimento.nome}} </td>
                    <td> {{totest.estabelecimento.areaRegional.nome}} </td>
                    <td> {{totest.estabelecimento.bairro + "/" + totest.estabelecimento.cidade+ "/" + totest.estabelecimento.uf}} </td>
                    <td> {{totest.totalDistribuidos  }}</td>
                    <td> {{totest.totalValidados  }}</td>
                    <td has-authority="PERM_VISUALIZ_TOTALIZACAO"> {{totest.valorTotalArrecadado | currency:"R$" }} </td>
                    <td has-authority="PERM_VISUALIZ_TOTALIZACAO"> {{totest.valorTotalComissao | currency:"R$" }} </td>                    
                </tr>                 
                <tr >  
                    <td><b>Total</b></td>
                    <td> </td>
                    <td> </td>
                    <td><b>{{ vm.sumBy(vm.totalizacao.totaisEstabelecimentos, 'totalDistribuidos') }}</b></td>
                    <td><b> {{ vm.sumBy(vm.totalizacao.totaisEstabelecimentos, 'totalValidados') }}</b></td>
                    <td has-authority="PERM_VISUALIZ_TOTALIZACAO"><b> {{ vm.sumBy(vm.totalizacao.totaisEstabelecimentos, 'valorTotalArrecadado') | currency:"R$" }} </b></td>
                    <td has-authority="PERM_VISUALIZ_TOTALIZACAO"><b> {{ vm.sumBy(vm.totalizacao.totaisEstabelecimentos, 'valorTotalComissao') | currency:"R$" }} </b></td>                        
                </tr>      
                                                  
                </tbody>
            </table>
        </div>        
      </div>
   </div>
    
</div>