
<div>
    <h2><span >Totalização dos Lançamentos</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
 
    <div class="row">
        <div class="col-md-3 form-group">
            <label class="control-label" for="field_dataInicio">Data Início<span style="color:red">*</span></label>
            <div class="input-group">
                <input id="field_dataInicio" type="date" class="form-control" name="dataInicio" uib-datepicker-popup ng-model="vm.filtro.dataInicio" is-open="vm.datePickerOpenStatus.dataInicio"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>                           
        <div class="col-md-3 form-group">
            <label class="control-label" for="field_dataFim">Data Fim<span style="color:red">*</span></label>
            <div class="input-group">
                <input id="field_dataFim" type="date" class="form-control" name="dataFim" uib-datepicker-popup ng-model="vm.filtro.dataFim" is-open="vm.datePickerOpenStatus.dataFim"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataFim')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
                <br>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" title="Buscar" ng-click="vm.loadAll()">
                        <span class="glyphicon glyphicon-search">Filtrar</span>
                    </button>     
                    <button type="button" class="btn btn-default" ng-click="vm.saveCSV()">
                                <span class="glyphicon glyphicon-download">&nbsp;Download</span>
                            </button>
                </div>
            </div>           
    </div>
    <div class="row">
            <div class="col-md-4">        
                <div class="progress" ng-show="vm.requesting">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div> 
                </div>
            <div class="col-md-4">
                <br/><br/>
            </div>
        </div>    
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title"><b>Totalização de no concurso {{vm.totalizacao[0].concurso.label}} - {{vm.totalizacao[0].concurso.dataSorteio | date : 'dd/MM/yyyy'}} </b></h3>  
        </div>
        <div class="panel-body">
          <br/>
          <div class="table-responsive" >
              <table class="jh-table table table-striped">
                  <thead>
                  <tr ng-show="vm.totalizacao.length>=1">
                      <th>Tipo Operação</th>
                      <th>Grupo</th>
                      <th>Valor Total</th>                
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat=" totaliz in vm.totalizacao | orderBy : ['grupoLancamento.tipoOperacao.nome', 'grupoLancamento.nomeGrupo']  track by totaliz.grupoLancamento.id">
                      <td> {{totaliz.grupoLancamento.tipoOperacao.nome}}</td>
                      <td> {{totaliz.grupoLancamento.nomeGrupo  }}</td>
                      <td><b> {{totaliz.valor | currency:"R$" }}</b></td>
                   </tr>      
                   <tr >  
                       <td></td>
                        <td><b>Total</b></td>
                        <td><b>{{  vm.sumBy(vm.totalizacao, 'valor') | currency:"R$" }}</b></td>
                   </tr>      
                  </tbody>
              </table>
          </div>      

        </div>
     </div>    
</div>
