<!doctype html>
<html lang="pt-br" ng-app="TrocoPublicoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="expires" content="timestamp">
    <title>Cadastrar Bilhete2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css content/css/vendorpub.css -->
    <!-- bower:css -->    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">    
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/mainpub.css -->    
    <link rel="stylesheet" href="content/css/main.css">    
    <!-- endbuild -->    
</head>
<body  ng-controller="ConsultaEstabelecimentosController as vm" class="transparente">
    <div  class="container">    
           <jhi-alert></jhi-alert>      
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="field_regional">Cidade</label>
                    <select class="form-control" id="field_cidade" name="cidade" ng-model="vm.filtro.cidade"
                        ng-options="cidade for cidade in vm.cidades" 
                        ng-change="vm.changecidade()" >
                        <option value="">Todas Cidades</option>
                    </select>
                </div>            
                <div class="col-md-5 form-group">
                    <label for="field_regional">Bairro</label>
                    <select class="form-control" id="field_bairro" name="bairro" ng-model="vm.filtro.bairro"
                        ng-options="bairro for bairro in vm.bairros" 
                        ng-change="vm.changebairro()" >
                        <option value="">Todos Bairros</option>
                    </select>
                </div>                            
            </div>
            <br/><br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr >
                        <th >Nome Fantasia </th>
                        <th >Telefone </th>
                        <th >Endereço </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="estabelecimento in vm.estabelecimentos track by estabelecimento.id">
                        <td >{{estabelecimento.nome}}</td>
                        <td >{{estabelecimento.telefone}}</td>
                        <td >{{vm.enderecoCompleto(estabelecimento)}}</td>             
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" 
                              ng-change="vm.transition()" ng-if="vm.totalItems"></uib-pagination>
            </div>       
    </div>            
    <!-- build:js app/vendorpub.js -->
    <!-- bower:js -->    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>      
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>   
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/appest.js  -->
    <!-- inject:js -->    
    <script src="app/publico/trocopublico.module.js"></script>    
    <script src="app/publico/uib-pager.config.js"></script>    
    <script src="app/publico/uib-pagination.config.js"></script>            
    <script src="app/publico/alert.service.js"></script>    
    <script src="app/publico/alert.directive.js"></script>            
    <script src="app/publico/jhi-item-count.directive.js"></script>                     
    <script src="app/publico/estabelecimento.controller.js"></script>    
    <!-- endinject -->
    <!-- endbuild -->
    
</body>

</html>
