<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aplicação de Sorteio</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendorapp.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <!-- endinject -->
    <!-- endbuild -->
    <!-- placeholder link to load bootswatch themes, title holds the current applied theme name-->
    <link rel="stylesheet" href="" id="bootswatch-css" title="Default">
    <!-- build:css content/css/mainapp.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->
</head>
<body ng-app="sorteioApp" ng-strict-di>
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <page-ribbon></page-ribbon>
    <div ui-view="navbar" ng-cloak></div>
    <div class="container">
        <div class="well" ui-view="content">
            <!-- Angular views -->
        </div>

        <div class="footer" ng-cloak>
            <!-- p data-translate="footer">This is your footer</p-->
            <div ng-show="estilo" ng-controller="BootswatchController"  class="dropdown pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true" id="dropdownMenuTheme">
                        <span class="glyphicon glyphicon-adjust"></span>
                        <span class="hidden-tablet" > Estilo da página</span>
                        <b class="caret"></b>
                    </button>                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuTheme">
                        <li ng-class="{'active' : theme.isdefault, 'theme-link':true}" ng-repeat="theme in themes">                        
                                <a href=""  
                                 data-theme-name={{theme.name}} data-theme-css="{{theme.cssCdn}}"
                                 jh-switch-theme="theme" >{{theme.name}} </a>
                                
                        </li>
                </ul>
              </div>
            </div>            
        </div>
    </div>

    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/odometer/odometer.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/pouchdb/dist/pouchdb.js"></script>
    <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-odometer/dist/angular-odometer.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <!-- build:js app/enc.js  -->
    <script src="app/components/util/encoding-indexes.js"></script>
    <script src="app/components/util/encoding.js"></script>
    <script src="app/components/util/fileSaver.js"></script>
    <!-- endbuild -->
    
    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/sorteio/sorteio-mensal.controller.js"></script>
    <script src="app/sorteio/sorteio-diario-dialog.controller.js"></script>
    <script src="app/sorteio/sorteio-diario.controller.js"></script>
    <script src="app/sorteio/sorteio.state.js"></script>
    <script src="app/sorteio/sorteio.service.js"></script>
    <script src="app/sorteio/sorteio.db.js"></script>
    <script src="app/sorteio/sorteio.controller.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/profiles/profile.service.js"></script>
    <script src="app/services/profiles/page-ribbon.directive.js"></script>
    <script src="app/services/auth/sessions.service.js"></script>
    <script src="app/services/auth/register.service.js"></script>
    <script src="app/services/auth/principal.service.js"></script>
    <script src="app/services/auth/password-reset-init.service.js"></script>
    <script src="app/services/auth/password-reset-finish.service.js"></script>
    <script src="app/services/auth/password.service.js"></script>
    <script src="app/services/auth/has-authority.directive.js"></script>
    <script src="app/services/auth/has-any-authority.directive.js"></script>
    <script src="app/services/auth/auth.session.service.js"></script>
    <script src="app/services/auth/auth.service.js"></script>
    <script src="app/services/auth/activate.service.js"></script>
    <script src="app/services/auth/account.service.js"></script>
    <script src="app/relatorios/distribuicao-regional-sem-estabelecimento-controller.js"></script>
    <script src="app/relatorios/distribuicao-lote-regional-controller.js"></script>
    <script src="app/entities/distribuicao-bilhetes-online/distribuicao-bilhetes-online.state.js"></script>
    <script src="app/entities/distribuicao-bilhetes-online/distribuicao-bilhetes-online.service.js"></script> 
    <script src="app/entities/distribuicao-bilhetes-online/distribuicao-bilhetes-online.controller.js"></script>   
    <script src="app/relatorios/totalizacao-regional.js"></script>
    <script src="app/relatorios/regional-bilhete-online-contoller.js"></script>
    <script src="app/relatorios/estabelecimento-bilhete-online.controller.js"></script>
    <script src="app/relatorios/totalizacao-lancamentos.js"></script>
    <script src="app/relatorios/totalizacao-estabelecimentos.js"></script>
    <script src="app/relatorios/distribuicao-sub-regional-controller.js"></script>
    <script src="app/relatorios/distribuicao-sub-regional.html"></script>
    <script src="app/relatorios/relatorios.state.js"></script>
    <script src="app/relatorios/regional-estabelecimento-controller.js"></script>
    <script src="app/relatorios/distribuicao-lote-estabelecimento-controller.js"></script>
    <script src="app/publico/trocopublico.module.js"></script>
    <script src="app/publico/uib-pagination.config.js"></script>
    <script src="app/publico/uib-pager.config.js"></script>
    <script src="app/publico/jogador.controller.js"></script>
    <script src="app/publico/jhi-item-count.directive.js"></script>
    <script src="app/publico/estabelecimento.controller.js"></script>
    <script src="app/publico/alert.service.js"></script>
    <script src="app/publico/alert.directive.js"></script>
    <script src="app/layouts/navbar/navbar.controller.js"></script>
    <script src="app/layouts/navbar/active-menu.directive.js"></script>
    <script src="app/layouts/error/error.state.js"></script>
    <script src="app/home/home.state.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/entities/regional/regional-distribuicao.controller.js"></script>
    <script src="app/entities/regional/regional-dialog.controller.js"></script>
    <script src="app/entities/regional/regional-devolucao.controller.js"></script>
    <script src="app/entities/regional/regional-detail.controller.js"></script>
    <script src="app/entities/regional/regional-delete-dialog.controller.js"></script>
    <script src="app/entities/regional/regional.state.js"></script>
    <script src="app/entities/regional/regional.service.js"></script>
    <script src="app/entities/regional/regional.controller.js"></script>
    <script src="app/entities/regiao/regiao-dialog.controller.js"></script>
    <script src="app/entities/regiao/regiao-detail.controller.js"></script>
    <script src="app/entities/regiao/regiao-delete-dialog.controller.js"></script>
    <script src="app/entities/regiao/regiao.state.js"></script>
    <script src="app/entities/regiao/regiao.service.js"></script>
    <script src="app/entities/regiao/regiao.controller.js"></script>
    <script src="app/entities/lote-regional/lote-regional-dialog.controller.js"></script>
    <script src="app/entities/lote-regional/lote-regional-dialog.changeowner.controller.js"></script>
    <script src="app/entities/lote-regional/lote-regional-delete-dialog.controller.js"></script>
    <script src="app/entities/lote-regional/lote-regional-confirm-dialog.controller.js"></script>
    <script src="app/entities/lote-regional/lote-regional.state.js"></script>
    <script src="app/entities/lote-regional/lote-regional.service.js"></script>
    <script src="app/entities/lote-regional/lote-regional.controller.js"></script>
    <script src="app/entities/lote-estabelecimento/lote-estabelecimento-dialog.changeowner.controller.js"></script>
    <script src="app/entities/lote-estabelecimento/lote-estabelecimento-delete-dialog.controller.js"></script>
    <script src="app/entities/lote-estabelecimento/lote-estabelecimento.state.js"></script>
    <script src="app/entities/lote-estabelecimento/lote-estabelecimento.service.js"></script>
    <script src="app/entities/lote-estabelecimento/lote-estabelecimento.controller.js"></script>
    <script src="app/entities/lancamento/lancamento-dialog.controller.js"></script>
    <script src="app/entities/lancamento/lancamento-delete-dialog.controller.js"></script>
    <script src="app/entities/lancamento/lancamento.state.js"></script>
    <script src="app/entities/lancamento/lancamento.service.js"></script>
    <script src="app/entities/lancamento/lancamento.controller.js"></script>
    <script src="app/entities/grupo_lancamento/grupo_lancamento-dialog.controller.js"></script>
    <script src="app/entities/grupo_lancamento/grupo_lancamento-delete-dialog.controller.js"></script>
    <script src="app/entities/grupo_lancamento/grupo_lancamento.state.js"></script>
    <script src="app/entities/grupo_lancamento/grupo_lancamento.service.js"></script>
    <script src="app/entities/grupo_lancamento/grupo_lancamento.controller.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento-venda.html"></script>
    <script src="app/entities/estabelecimento/estabelecimento-venda.controller.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento-dialog.controller.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento-detail.controller.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento-delete-dialog.controller.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento.state.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento.service.js"></script>
    <script src="app/entities/estabelecimento/estabelecimento.controller.js"></script>
    <script src="app/entities/entity.state.js"></script>
    <script src="app/entities/distribuicao-selos/hist_distribuicao-selos.controller.js"></script>
    <script src="app/entities/distribuicao-selos/distribuicao-selos.state.js"></script>
    <script src="app/entities/distribuicao-selos/distribuicao-selos.service.js"></script>
    <script src="app/entities/distribuicao-selos/distribuicao-selos.controller.js"></script>
    <script src="app/entities/distribuicao-bilhetes/hist_distribuicao-bilhetes.controller.js"></script>
    <script src="app/entities/distribuicao-bilhetes/distribuicao-bilhetes.state.js"></script>
    <script src="app/entities/distribuicao-bilhetes/distribuicao-bilhetes.service.js"></script>
    <script src="app/entities/distribuicao-bilhetes/distribuicao-bilhetes.controller.js"></script>
    <script src="app/entities/concurso/concurso-geracao.controller.js"></script>
    <script src="app/entities/concurso/concurso-dialog.controller.js"></script>
    <script src="app/entities/concurso/concurso-detail.controller.js"></script>
    <script src="app/entities/concurso/concurso-delete-dialog.controller.js"></script>
    <script src="app/entities/concurso/concurso-adm.controller.js"></script>
    <script src="app/entities/concurso/concurso.state.js"></script>
    <script src="app/entities/concurso/concurso.service.js"></script>
    <script src="app/entities/concurso/concurso.controller.js"></script>
    <script src="app/entities/comissao/comissao.state.js"></script>
    <script src="app/entities/comissao/comissao.service.js"></script>
    <script src="app/entities/comissao/comissao.controller.js"></script>
    <script src="app/entities/bilhete/consulta_lotesvalidacao.js"></script>
    <script src="app/entities/bilhete/consulta_bilhete_dist.js"></script>
    <script src="app/entities/bilhete/consulta_bilhete.js"></script>
    <script src="app/entities/bilhete/bilhete-validacao.controller.js"></script>
    <script src="app/entities/bilhete/bilhete.state.js"></script>
    <script src="app/entities/bilhete/bilhete.service.js"></script>
    <script src="app/entities/bilhete.state.js"></script>
    <script src="app/entities/arearegional/arearegional-dialog.controller.js"></script>
    <script src="app/entities/arearegional/arearegional-detail.controller.js"></script>
    <script src="app/entities/arearegional/arearegional-delete-dialog.controller.js"></script>
    <script src="app/entities/arearegional/arearegional-distribuicao-dialog.controller.js"></script>
    <script src="app/entities/arearegional/arearegional.state.js"></script>
    <script src="app/entities/arearegional/arearegional.service.js"></script>
    <script src="app/entities/arearegional/arearegional.controller.js"></script>
    <script src="app/components/util/truncate-words.filter.js"></script>
    <script src="app/components/util/truncate-characters.filter.js"></script>
    <script src="app/components/util/sort-by.directive.js"></script>
    <script src="app/components/util/sort.directive.js"></script>
    <script src="app/components/util/parse-links.service.js"></script>
    <script src="app/components/util/pagination-util.service.js"></script>
    <script src="app/components/util/jhi-item-count.directive.js"></script>
    <script src="app/components/util/fileSaver.js"></script>
    <script src="app/components/util/encoding-indexes.js"></script>
    <script src="app/components/util/encoding.js"></script>
    <script src="app/components/util/date-util.service.js"></script>
    <script src="app/components/util/data-util.service.js"></script>
    <script src="app/components/util/capitalize.filter.js"></script>
    <script src="app/components/util/base64.service.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/language/language.service.js"></script>
    <script src="app/components/language/language.filter.js"></script>
    <script src="app/components/language/language.controller.js"></script>
    <script src="app/components/language/language.constants.js"></script>
    <script src="app/components/form/show-validation.directive.js"></script>
    <script src="app/components/form/pagination.constants.js"></script>
    <script src="app/components/form/minbytes.directive.js"></script>
    <script src="app/components/form/maxbytes.directive.js"></script>
    <script src="app/components/form/focus.directive.js"></script>
    <script src="app/components/bootswatch/bootswatch.service.js"></script>
    <script src="app/components/bootswatch/bootswatch.directive.js"></script>
    <script src="app/components/bootswatch/bootswatch.controller.js"></script>
    <script src="app/components/alert/alert-error.directive.js"></script>
    <script src="app/components/alert/alert.service.js"></script>
    <script src="app/components/alert/alert.directive.js"></script>
    <script src="app/blocks/interceptor/notification.interceptor.js"></script>
    <script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
    <script src="app/blocks/handlers/translation.handler.js"></script>
    <script src="app/blocks/handlers/state.handler.js"></script>
    <script src="app/blocks/config/uib-pagination.config.js"></script>
    <script src="app/blocks/config/uib-pager.config.js"></script>
    <script src="app/blocks/config/translation-storage.provider.js"></script>
    <script src="app/blocks/config/translation.config.js"></script>
    <script src="app/blocks/config/localstorage.config.js"></script>
    <script src="app/blocks/config/http.config.js"></script>
    <script src="app/blocks/config/compile.config.js"></script>
    <script src="app/blocks/config/alert.config.js"></script>
    <script src="app/app.state.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/admin/user-management/user-management-forcereset-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management.state.js"></script>
    <script src="app/admin/user-management/user-management.controller.js"></script>
    <script src="app/admin/tracker/tracker.state.js"></script>
    <script src="app/admin/tracker/tracker.service.js"></script>
    <script src="app/admin/tracker/tracker.controller.js"></script>
    <script src="app/admin/metrics/metrics.state.js"></script>
    <script src="app/admin/metrics/metrics.service.js"></script>
    <script src="app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="app/admin/metrics/metrics.controller.js"></script>
    <script src="app/admin/logs/logs.state.js"></script>
    <script src="app/admin/logs/logs.service.js"></script>
    <script src="app/admin/logs/logs.controller.js"></script>
    <script src="app/admin/health/health.state.js"></script>
    <script src="app/admin/health/health.service.js"></script>
    <script src="app/admin/health/health.modal.controller.js"></script>
    <script src="app/admin/health/health.controller.js"></script>
    <script src="app/admin/docs/docs.state.js"></script>
    <script src="app/admin/configuration/configuration.state.js"></script>
    <script src="app/admin/configuration/configuration.service.js"></script>
    <script src="app/admin/configuration/configuration.controller.js"></script>
    <script src="app/admin/audits/audits.state.js"></script>
    <script src="app/admin/audits/audits.service.js"></script>
    <script src="app/admin/audits/audits.controller.js"></script>
    <script src="app/admin/admin.state.js"></script>
    <script src="app/account/settings/settings.state.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/sessions/sessions.state.js"></script>
    <script src="app/account/sessions/sessions.controller.js"></script>
    <script src="app/account/reset/request/reset.request.state.js"></script>
    <script src="app/account/reset/request/reset.request.controller.js"></script>
    <script src="app/account/reset/finish/reset.finish.state.js"></script>
    <script src="app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="app/account/register/register.state.js"></script>
    <script src="app/account/register/register.controller.js"></script>
    <script src="app/account/password/password-strength-bar.directive.js"></script>
    <script src="app/account/password/password.state.js"></script>
    <script src="app/account/password/password.controller.js"></script>
    <script src="app/account/activate/activate.state.js"></script>
    <script src="app/account/activate/activate.controller.js"></script>
    <script src="app/account/account.state.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
