
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="distribuicaoLabel" >Alteração da Regional do Lote {{vm.idlote}} do concurso {{vm.concurso.label}}</span></h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <!--div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div-->
        <div class="row">
            <div class="col-md-9 form-group">
                <label for="field_regional">Regional</label>
                <select class="form-control" id="field_regional" name="regional" ng-model="vm.idregional"
                ng-options="regional.id as regional.nome for regional in vm.regionais "  >
                <option  value="">--Nenhuma Regional--</option>
                </select>
            </div>                       
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>
