
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="distribuicaoLabel" >Distribuição de Bilhetes para Regional</h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="alerts" >
            <div ng-repeat="alert in vm.alerts" ng-class="['top right']">
                <uib-alert ng-cloak="" type="{{alert.type}}" close="vm.closeAlert($index)"><pre>{{ alert.msg }}</pre></uib-alert>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="field_concurso">Concurso<span style="color:red">*</span></label>
                <select class="form-control" id="field_concurso" name="concurso" ng-model="vm.lotedistribuicao.concurso"
                ng-options="concurso as concurso.label for concurso in vm.concursos track by concurso.id"
                required >
                </select>
            </div>
            <div class="col-md-8 form-group">
                <label for="field_regional">Regional</label>
                <select class="form-control" id="field_regional" name="regional" ng-model="vm.lotedistribuicao.regional"
                ng-options="regional as regional.nome for regional in vm.regionais track by regional.id" >
                </select>
            </div>                           
        </div>

        <div class="row form-inline"  >          
            <!--div class="col-md-4 form-group">
                <label for="field_quant">Quant. Bilhetes<span style="color:red">*</span></label>
                <input type="number" id="field_quantidade_lote" class="form-control" placeholder="quantidade bilhetes" 
                        ng-model="vm.lotedistribuicao.quantidade" required >    
            </div-->
            <div class="col-md-4">
                <label for="field_bilheteInicial">Bilhete Inicial<span style="color:red">*</span></label>
                <input type="text" focus class="form-control" placeholder="Bilhete Inicial" 
                        id="field_bilheteInicial" name="field_bilheteInicial" aria-describedby="{{'bilhete-inicial-addon'}}"
                        ng-model="vm.lotedistribuicao.bilheteInicial" ng-change="vm.updatelist()" ng-minlength=13 ng-maxlength=14 
                    >
            </div>    
            <div class="col-md-4">
                <label for="field_bilheteFinal">Bilhete Final<span style="color:red">*</span></label>
                <input type="text" focus class="form-control" placeholder="Bilhete Final" 
                        id="field_bilheteFinal" name="field_bilheteFinal" aria-describedby="{{'bilhete-final-addon'}}"
                        ng-model="vm.lotedistribuicao.bilheteFinal" ng-change="vm.updatelist()" ng-minlength=13 ng-maxlength=14 
                    >                    
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>
