<form name="deleteForm" ng-submit="vm.confirm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.confirm()">&times;</button>
        <h4 class="modal-title" >O lote abaixo foi cadastrado com sucesso</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal jh-entity-details">    
            <dt>Concurso:</span></dt>
            <dd><span>{{vm.concurso.label}}</span>
            </dd>
            <dt>Lote:</span></dt>
            <dd><span>{{vm.id}}</span>
            </dd>
            <dt><span >Valor Total</span></dt>
            <dd><span>{{vm.valorTotal}}</span>
            </dd>
            <dt>Regional:</span></dt>
            <dd><span>{{vm.regional.nome}}</span>
            </dd>                
        </dl>
        <p ></p>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr >
                    <th >Tipo </th>
                    <th >Número Inicial </th>
                    <th >Número Final</th>
                    <th >Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(idx, lotebilhete) in vm.lotebilhetes | orderBy : ['bilheteInicial']  track by lotebilhete.bilheteInicial"
                    >
                    <td>{{lotebilhete.tipo.label}}</td>
                    <td>{{lotebilhete.bilheteInicial}}</td>
                    <td >{{lotebilhete.bilheteFinal}}</td>
                    <td >{{lotebilhete.quantidade}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon glyphicon-ok"></span>&nbsp;<span >OK</span>
        </button>
    </div>
</form>
