<!doctype html>
<html lang="pt-br" ng-app="jogadorApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="expires" content="timestamp">
    <title>Cadastrar Bilhete2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css content/css/vendorjog.css -->
    <!-- bower:css -->    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">    
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/mainjog.css -->    
    <link rel="stylesheet" href="content/css/main.css">    
    <!-- endbuild -->    
</head>
<body  ng-controller="JogadorController as vm" class="transparente">
    <div  class="container">    
           <jhi-alert></jhi-alert>      
            <form class="form" role="form"  >
                <div class="form-group">
                    <label for="nome" >Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome aqui" 
                        ng-model="vm.jogador.nome" size="50" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="cpf" >CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="Digite o CPF aqui"
                           ng-model="vm.jogador.cpf" size="50" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="telefone" >Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Digite o telefone aqui"
                           ng-model="vm.jogador.telefone" size="50" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="bilhete" >Bilhete</label>
                    <input type="text" class="form-control" id="bilhete" placeholder="Digite o bilhete aqui"
                           ng-model="vm.jogador.identificacao" size="50" maxlength="50" required>
                </div>                
               
            </form>
            <button class="btn btn-primary" ng-click="vm.save()">Cadastrar</button>
    </div>            
    <!-- build:js app/vendorjog.js -->
    <!-- bower:js -->    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>      
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>        
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/appjog.js  -->
    <!-- inject:js -->    
    <script src="app-publico/jogador.module.js"></script>    
    <script src="app-publico/alert.service.js"></script>    
    <script src="app-publico/alert.directive.js"></script>            
    <script src="app-publico/jogador.controller.js"></script>    
    <!-- endinject -->
    <!-- endbuild -->
    
</body>

</html>
